<p-dialog header="Forma de Pago" [contentStyle]="{'overflow': 'visible'}"  [draggable]="true" [resizable]="true" [(visible)]="display" [style]="{ width: '73vw' }" [modal]="true" (onHide)="CloseModal()">
  <br /><br />
  <div class="p-dialog-content">
    <div class="p-grid">
      <div class="p-col-6">
        <h3 class="mb-3">Formas de Pago</h3>
        <p-table #dt selectionMode="single"[value]="listFormaPago"  dataKey="idFormaPago" [tableStyle]="{ 'min-width': '20rem' }" [rows]="4"
          [paginator]="true" stateStorage="session"   [globalFilterFields]="[
          'nombreFp',
          'idFormaPago',
       ]" stateKey="idFormaPago">

       <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-wrap">
         

         
            <span class="p-input-icon-left ">
                <i class="pi pi-search"></i>
                <input pInputText type="text" class="p-inputtext-sm"
                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Buscar Forma pago" />
            </span>
        </div>
    </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="idFormaPago">
                <div class="flex justify-content-between align-items-center">ID
                    <p-sortIcon field="idFormaPago"></p-sortIcon>
                    <p-columnFilter type="text" field="idFormaPago" display="menu"></p-columnFilter>
                </div>
            </th>
              <th pSortableColumn="nombreFp">
                <div class="flex justify-content-between align-items-center">NOMBRE
                    <p-sortIcon field="nombreFp"></p-sortIcon>
                    <p-columnFilter type="text" field="nombreFp" display="menu"></p-columnFilter>
                </div>
            </th>
        
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
            <tr>
            
              <td>{{customer.idFormaPago}}</td>
              <td>{{customer.nombreFp}}</td>
              <td> <a pButton class="botonmas" icon="pi pi-plus" (click)="showAttributes(customer)" ></a></td>
            </tr>
          </ng-template>
        </p-table>
      </div>


      <div class="p-col-6">
        <h3 class="mb-3">Información Generál</h3>
        <div class="p-fluid p-formgrid grid input">
          <div class="ui-fluid formgrid grid">
            <div class="p-field col-12 md:col-12 md:mb-1 mb-0 px-3">
              <span class="p-float-label">
                <label>TOTAL: </label>
                <b><i class="text-1xl mr-2 mb-3"></i></b>
              </span>
            </div>
            <div class="p-field col-6 md:col-5 md:mb-1 mb-0 px-3">
              <span class="p-float-label">
                <input pInputText id="ftxt-ch"   [value]="nombreFp"   required="true" [disabled]="true" />
                <label for="ftxt-ch">Forma de Pago: </label>
                <b> <i class="text-1xl mr-2 mb-3"></i></b>
              </span>
            </div>
            <div class="p-field col-6 md:col-5 md:mb-1 mb-0 px-3">
              <span class="p-float-label">
                <input pInputText id="ftxt-ch" required="true" type="number" />
                <label for="ftxt-ch">Cantidad: </label>
                <b> <i class="text-1xl mr-2 mb-3"></i></b>
              </span>
            </div>
          </div>
        </div>

        <h3 class="mb-3 mt-2">Cheque</h3>
        <div class="p-fluid p-formgrid grid input">
          <div class="ui-fluid formgrid grid">
            <div class="p-field col-6 md:col-5 md:mb-1 mb-0 px-3" style="width: 200px;">
              <span class="p-float-label">
                <input pInputText id="ftxt-ch" required="true" />
                <label for="ftxt-ch">No. Cheque: </label>
                <b> <i class="text-1xl mr-2 mb-3"></i></b>
              </span>
            </div>
            <div class="p-field col-6 md:col-5 md:mb-1 mb-0 px-3" style="width: 195px;">
              <p-dropdown [options]="listBancos"
              formControlName="idBancos"
              [virtualScroll]="true"
              [(ngModel)]="selectedBanco"
              optionLabel="nombreBancos"
              optionValue="idBancos"
              id="ftxt-idBancos"
              [virtualScrollItemSize]="48"
              placeholder="Banco"
              [filter]="true"
              [filterBy]="'nombreBancos'"
              >
              
            </p-dropdown>
            </div>
            
          </div>
        </div>


        <h3 class="mb-3 mt-2">Tarjeta</h3>
        <div class="p-fluid p-formgrid grid">
          <div class="ui-fluid formgrid grid">
            <div class="p-field col-6 md:col-5 md:mb-1 mb-0 px-3" style="width: 200px;">
              <p-dropdown [options]="listTarjeta"
              formControlName="idTarjeta"
              [virtualScroll]="true"
              [(ngModel)]="selectedTarjeta"
              optionLabel="nombreTarjeta"
              optionValue="idTarjeta"
              id="ftxt-idTarjeta"
              [virtualScrollItemSize]="55"  
              placeholder="Tarjeta"
              [filter]="true"
              [filterBy]="'nombreTarjeta'"
              >
              
            </p-dropdown>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <div class=" text-center">
      <div class="p-buttonset">
  
        <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
        <button pButton label="Guardar" (click)="guardarpago()" class="m-1 bg-blue-900" pTooltip="Guardar"
          tooltipPosition="right"></button>
        <button pButton label="Cancelar" (click)="CloseModal()" class="m-1 bg-blue-900" pTooltip="Cancelar"
          tooltipPosition="right"></button>
      </div>
    </div>
  </div>
</p-dialog>

<!-- 
<p-dropdown [options]="listTarjeta"
            formControlName="idTarjeta"
            [virtualScroll]="true"
            [(ngModel)]="selectedTarjeta"
            optionLabel="nombreTarjeta"
            optionValue="idTarjeta"
            id="ftxt-idTarjeta"
            [virtualScrollItemSize]="38"  
            placeholder="Tarjeta"
            [filter]="true"
            [filterBy]="'nombreTarjeta'"
            >
            
          </p-dropdown> -->