<p-dialog header="Forma de Pago" [(visible)]="display" [style]="{ width: '85vw' }" [modal]="true" (onHide)="cancelar()">
  <br /><br />
  <div class="p-dialog-content">
    <div class="p-grid">
      <div class="p-col-6">
        <h3 class="mb-3">Formas de Pago</h3>
        <p-table #dt1 selectionMode="single" dataKey="id" [tableStyle]="{ 'min-width': '20rem' }" [rows]="4"
          [paginator]="true" stateStorage="session" stateKey="statedemo-session">
          <ng-template pTemplate="header">
            <tr>
              <th>
                <div class="flex justify-content-between align-items-center">
                  <strong style="font-weight: bold">&#8470;</strong>
                </div>
              </th>
              <th>
                <input pInputText type="text" (input)="dt1.filter($event.target.value, 'name', 'contains')"
                  [value]="dt1.filters['name']?.value" placeholder="Forma de Pago" class="w-full" />
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-customer>
            <tr [pSelectableRow]="customer">
              <td>{{ rowIndex + 1 }}</td>
              <td>
                <span class="p-column-title">Country</span>
                <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                  [class]="'flag flag-' + customer.country.code" style="width: 20px" />
                <span class="ml-1 vertical-align-middle">{{ customer.country.name }}</span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>


      <div class="p-col-6">
        <h3 class="mb-3">Información Generál</h3>
        <div class="p-fluid p-formgrid grid input">
          <div class="ui-fluid formgrid grid">
            <div class="p-field col-12 md:col-12 md:mb-1 mb-0 px-3">
              <span class="p-float-label">
                <label>TOTAL: </label>
                <b><i class="text-1xl mr-2 mb-3"></i></b>
              </span>
            </div>
            <div class="p-field col-6 md:col-5 md:mb-1 mb-0 px-3">
              <span class="p-float-label">
                <input pInputText id="ftxt-ch" required="true" />
                <label for="ftxt-ch">Forma de Pago: </label>
                <b> <i class="text-1xl mr-2 mb-3"></i></b>
              </span>
            </div>
            <div class="p-field col-6 md:col-5 md:mb-1 mb-0 px-3">
              <span class="p-float-label">
                <input pInputText id="ftxt-ch" required="true" type="number" />
                <label for="ftxt-ch">Cantidad: </label>
                <b> <i class="text-1xl mr-2 mb-3"></i></b>
              </span>
            </div>
          </div>
        </div>

        <h3 class="mb-3">Cheque</h3>
        <div class="p-fluid p-formgrid grid input">
          <div class="ui-fluid formgrid grid">
            <div class="p-field col-6 md:col-5 md:mb-1 mb-0 px-3">
              <span class="p-float-label">
                <input pInputText id="ftxt-ch" required="true" />
                <label for="ftxt-ch">No. Cheque: </label>
                <b> <i class="text-1xl mr-2 mb-3"></i></b>
              </span>
            </div>
            <div class="p-field col-6 md:col-5 md:mb-1 mb-0 px-3">
              <label for="ftxt-tarjeta">Banco:</label>
              <select name="tarjeta" id="ftxt-tarjeta">
                <option value="pagado">Pichincha</option>
                <option value="anulado">Guayaquil</option>
              </select>
            </div>
          </div>
        </div>


        <h3 class="mb-3">Tarjeta</h3>
        <div class="p-fluid p-formgrid grid">

          <div class="p-field col-12 md:col-6 mb-0 px-3">
            <label for="ftxt-tarjeta">Tarjeta:</label>
            <select name="tarjeta" id="ftxt-tarjeta">
              <option value="pagado">Credito</option>
              <option value="anulado">Debito</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4 text-center">
      <div class="p-buttonset">
        <button pButton label="Guardar" class="p-button p-button-lg m-1" pTooltip="Guardar"
          tooltipPosition="right"></button>
        <button pButton label="Cancelar" class="p-button p-button-lg m-1" pTooltip="Cancelar"
          tooltipPosition="right"></button>
      </div>
    </div>
  </div>
</p-dialog>