<form [formGroup]="formEstadoFact">

    <p-panel class="ui-panel" header="Registro Estado Factura" [toggleable]="false">
        <ng-template pTemplate="icons" pStyleClass="display: flex;
        justify-content: end;
        align-items: center;
        ">


            <button pButton pRipple type="button" icon="pi pi-times" (click)="cancelar()" pTooltip="Cancelar"
                tooltipPosition="top" class="p-button-rounded p-button-danger p-button-text p-button"></button>

        </ng-template>


        <div class="central p-fluid p-formgrid grid">

            <!--    <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3">
                <span class="p-float-label">
                    <input pInputText id="ftxt-nombreTipo" type="text" required="true" formControlName="idEstdo">
                    <label for="ftxt-nombreTipo">id</label>
                </span>
            </div>
          -->

            <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3">
                <span class="p-float-label">
                    <input pInputText id="ftxt-nombreEstadoComp" type="text" required="true"
                        formControlName="nombreEstadoComp">
                    <label for="ftxt-nombreEstadoComp">* Nombre Estado Factura</label>
                </span>
            </div>

            <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3">
                <span class="p-float-label">
                    <input pInputText id="ftxt-detalleEstadoComp" type="text" required="true"
                        formControlName="detalleEstadoComp">
                    <label for="ftxt-detalleEstadoComp">* Detalle Estado Factura</label>
                </span>
            </div>

        </div>
        <div class="central">
            <p-toolbar>
                <div class="p-toolbar-group-center">
                    <button pButton label="Guardar" class="p-button p-button-lg m-1 p-button-info" icon="pi pi-send"
                        type="submit" (click)="guardarEstadoFact()" pTooltip="Guardar" tooltipPosition="right"></button>

                    <button pButton label="Cancelar" class="p-button p-button-lg m-1 p-button-danger" icon="pi pi-times"
                        (click)="cancelar()" pTooltip="Cancelar" tooltipPosition="right"></button>
                </div>
            </p-toolbar>
        </div>

    </p-panel>
</form>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<p-divider></p-divider>


<app-estado-factura-table [listestadoFact]="listEstadoFact" (estadoFactSelect)=setSeleccionado($event)>
</app-estado-factura-table>
