<app-buscar-recibos></app-buscar-recibos>

<br />

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <p-table #ef [value]="listReciboCaja" [rows]="10" [paginator]="true" [loading]="loading" [globalFilterFields]="[
                    'idReciboCaja',
                    'NroReciboCaja',
                    'NombreCliente',
                    'Ruc'
                ]" responsiveLayout="scroll" [rowHover]="true" dataKey="idReciboCaja"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-wrap">
                        <div class="flex flex-wrap">
                            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                                class="p-button-sm p-button-outlined p-button-success p-mr-2 m-1" pTooltip="XLS"
                                tooltipPosition="bottom"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                                class="p-button-sm p-button-outlined p-button-danger p-mr-2 m-1" pTooltip="PDF"
                                tooltipPosition="bottom"></button>
                            <button pButton label="Clear" class="p-button-outlined p-button-sm m-1"
                                icon="pi pi-filter-slash" (click)="clear(ef)" pTooltip="Quitar Filtros"
                                tooltipPosition="right"></button>
                        </div>
                        <div class="flex flex-wrap align-items-center align-items-center select-none">
                            <label class="text-center font-semibold">RECIBOS CAJA</label>
                        </div>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" class="p-inputtext-sm uppercase" (input)="
                                    ef.filterGlobal(
                                        $event.target.value,
                                        'contains'
                                    )
                                " placeholder="Busqueda General" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="idEstadoComprobante">
                            <div class="flex justify-content-between align-items-center">
                                <bold style="font-weight: bold">&#8470;</bold>
                                <p-sortIcon field="idEstadoComprobante"></p-sortIcon>
                                <p-columnFilter type="text" field="idEstadoComprobante" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="NroReciboCaja">
                            <div class="flex justify-content-between align-items-center">
                                No.Recibo Caja
                                <p-sortIcon field="NroReciboCaja"></p-sortIcon>
                                <p-columnFilter type="text" field="NroReciboCaja" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="nombreCliente">
                            <div class="flex justify-content-between align-items-center">
                                Cliente
                                <p-sortIcon field="nombreCliente"></p-sortIcon>
                                <p-columnFilter type="text" field="nombreCliente" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="Ruc">
                            <div class="flex justify-content-between align-items-center">
                                RUC
                                <p-sortIcon field="Ruc"></p-sortIcon>
                                <p-columnFilter type="text" field="Ruc" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="CI">
                            <div class="flex justify-content-between align-items-center">
                                CI
                                <p-sortIcon field="CI"></p-sortIcon>
                                <p-columnFilter type="text" field="CI" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="fechaRecibo">
                            <div class="flex justify-content-between align-items-center">
                                Fecha
                                <p-sortIcon field="fechaRecibo"></p-sortIcon>
                                <p-columnFilter type="text" field="fechaRecibo" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="totalRecibo">
                            <div class="flex justify-content-between align-items-center">
                                Total
                                <p-sortIcon field="totalRecibo"></p-sortIcon>
                                <p-columnFilter type="text" field="totalRecibo" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="estadoRecibo">
                            <div class="flex justify-content-between align-items-center">
                                Estado
                                <p-sortIcon field="estadoRecibo"></p-sortIcon>
                                <p-columnFilter type="text" field="estadoRecibo" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="motivoRecibo">
                            <div class="flex justify-content-between align-items-center">
                                Motivo
                                <p-sortIcon field="motivoRecibo"></p-sortIcon>
                                <p-columnFilter type="text" field="motivoRecibo" display="menu"></p-columnFilter>
                            </div>
                        </th>

                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr class="font-medium">
                        <td>{{ rowIndex + 1 }}</td>
                        <td>{{ item.NroReciboCaja }}</td>
                        <td>{{item}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{ item.detalleEstadoComp }}</td>
                        <td>
                            <mark [ngClass]="
                                    item.estadoCompr == 'ACTIVO'
                                        ? 'border-green-500'
                                        : 'border-red-500'
                                ">{{ item.estadoCompr }}</mark>
                        </td>

                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                class="p-button-rounded p-button-warning p-button-text p-button-sm p-mr-2"
                                (click)="editEstadoFact(item); modalOpen()" pTooltip="Editar"
                                tooltipPosition="left"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Registros Totales:
                        {{ listestadoFact ? listestadoFact.length : 0 }}.
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
    <br />
    <div class="button__from text-right">
        <a pButton label="anular" icon="pi pi-plus" (click)="modalOpen()">Anular modal</a>
    </div>
</section>

<app-anular-recibo-caja [display]="displayModal" (closeModal)="closeModal()"></app-anular-recibo-caja>
