.button-container {
  display: flex;
  justify-content: flex-end;
}

.guardar-button {
  background-color: white !important;
  color: blue !important;
  border: solid blue 1px !important  ;

}

.cancelar-button {
  background-color: white !important;
  color: red !important;
  border: solid red 1px !important;
}

