<p-header class="mb-4">
    <h4 style="background:#0d3c61; color: aliceblue; padding: 15px;">Registro Estado Comprobante</h4>
</p-header>
<div class="button__from text-right">
    <button pButton style="background:#0d3c61;" type="button" label="Registrar Nuevo Comprobante" icon="pi pi-plus"
        (click)=" onDisplayForm()"></button>
</div>
<p-dialog [(visible)]="display" [modal]="true" [style]="{width: '50vw'}" [draggable]="true" [resizable]="true"
    [closable]="false" [responsive]="true" (onHide)="cancelar()" [dismissableMask]="false">

    <ng-template pTemplate="header">
        <div class="flex justify-content-between align-items-center" style="width: 100%;">
            <div class="text-2xl text-center">Registro Estado Comprobante</div>
            <div class="flex align-items-center">
                <button type="button" pButton icon="pi pi-times" (click)="cancelar()" pTooltip="Cancelar"
                    tooltipPosition="top"
                    class="p-button-rounded p-button-danger p-button-text text-white p-mr-2"></button>
            </div>
        </div>
    </ng-template>

    <form [formGroup]="formEstadoFact" class="mt-6">
        <div class="p-grid p-fluid">
            <div class="p-field p-col-12 p-md-6 px-3">
                <span class="p-float-label">
                    <input pInputText id="ftxt-nombreEstadoComp" type="text" required="true"
                        formControlName="nombreEstadoComp" style="text-transform: uppercase;">
                    <label for="ftxt-nombreEstadoComp">* Nombre Estado Comprobante</label>
                </span>
            </div>

            <div class="p-field p-col-12 p-md-6 px-3">
                <label for="ftxt-estadoCompr">* Estado</label>
                <span class="p-float-label">
                    <p-inputSwitch id="ftxt-estadoCompr" formControlName="estadoCompr"></p-inputSwitch>
                </span>
            </div>

            <div class="p-field p-col-12 px-3">
                <span class="p-float-label">
                    <textarea pInputText id="ftxt-detalleEstadoComp" rows="4" required="true"
                        formControlName="detalleEstadoComp" style="resize: none;"></textarea>
                    <label for="ftxt-detalleEstadoComp">* Detalle Estado Comprobante</label>
                </span>
            </div>
        </div>

        <div class="central">
            <p-toolbar>
                <div class="p-toolbar-group-center">
                    <button pButton label="Guardar" class="p-button p-button-lg m-1 p-button-outlined p-button-primary"
                        icon="pi pi-send" type="submit" (click)="guardarEstadoFact()" pTooltip="Guardar"
                        tooltipPosition="right"></button>

                    <button pButton label="Cancelar" class="p-button p-button-lg m-1 p-button-outlined p-button-danger"
                        icon="pi pi-times" (click)="cancelar()" pTooltip="Cancelar" tooltipPosition="right"></button>
                </div>
            </p-toolbar>
        </div>
    </form>
</p-dialog>



<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<br>


<app-estado-comprobante-table [listestadoFact]="listEstadoFact" (estadoFactSelect)=setSeleccionado($event)>

</app-estado-comprobante-table>
