<p-header>
    <h4 style="background:#0d3c61; color: aliceblue; padding: 15px;">Registro Estado Comprobante</h4>
</p-header>
<div class="button__from text-right">
    <button pButton style="background:#0d3c61;" type="button" label="Mostrar Formulario" icon="pi pi-plus"
        (click)=" onDisplayForm()"></button>
</div>
<p-dialog [(visible)]="display" [modal]="true" [style]="{width: '50vw'}" [closable]="false" [dismissableMask]="true">
    <p-header>
        <h4 class="text-center">Registro Estados comprobante</h4>
    </p-header>
    <form [formGroup]="formEstadoFact">

        <div class="button__form text-right my-3">

            <button pButton pRipple type="button" icon="pi pi-times" (click)="cancelar()" pTooltip="Cancelar"
                tooltipPosition="top"
                class="p-button-rounded p-button-danger p-button-text p-button text-right"></button>
        </div>


        <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <input pInputText id="ftxt-nombreEstadoComp" type="text" required="true"
                            formControlName="nombreEstadoComp" style="text-transform: uppercase;">
                        <label for="ftxt-nombreEstadoComp">* Nombre Estado Factura</label>
                    </span>
                </div>

                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3">
                    <label for="ftxt-estadoCompr">* Estado</label>
                    <span class="p-float-label">
                        <p-inputSwitch id="ftxt-estadoCompr" formControlName="estadoCompr"></p-inputSwitch>
                    </span>
                </div>
        </div>
        <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-float-label">
                <textarea  pInputText id="ftxt-detalleEstadoComp" rows="4" required="true"
                    formControlName="detalleEstadoComp" style="resize: none;"></textarea>
                <label for="ftxt-detalleEstadoComp">* Detalle Estado Factura</label>
            </span>
        </div>
        <div class="central">
            <p-toolbar>
                <div class="p-toolbar-group-center">
                    <button pButton label="Guardar" class="p-button p-button-lg m-1 p-button-outlined p-button-primary"
                        icon="pi pi-send" type="submit" (click)="guardarEstadoFact()" pTooltip="Guardar"
                        tooltipPosition="right"></button>

                    <button pButton label="Cancelar" class="p-button p-button-lg m-1 p-button-outlined p-button-danger"
                        icon="pi pi-times" (click)="cancelar()" pTooltip="Cancelar" tooltipPosition="right"></button>
                </div>
            </p-toolbar>
        </div>
    </form>
</p-dialog>



<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<br>


<app-estado-comprobante-table [listestadoFact]="listEstadoFact" (estadoFactSelect)=setSeleccionado($event)>

</app-estado-comprobante-table>
