<p-card>
  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

  <!-- Dialog 0 -->
  <p-dialog
      header="Agregar Otros Conceptos"
      [(visible)]="modal"
      [style]="{ width: '60vw' }"
  >
      <!--ANDRES MONTOYA-->

      <!-- HEADER -->
      <div class="header-card">
          <div class="header-img">
              <img alt="Card" src="../../../../../../assets/img/epn.png" />
          </div>
          <div class="header-container">
              <h4>ESCUELA POLITECNICA NACIONAL</h4>
              <p>
                  Campus Politecnico "J. Ruben Orellana R."<br />
                  Ladron de Guevara E11-253 y Andalucia<br />
                  Telf.: 2507-144 / Fax: 2567-848<br />
                  P.O. Box: 17-01-2759 / QUITO-ECUADOR<br />
              </p>
          </div>
          <div class="header-recibo">
              <div class="recibo-caja">
                  <h1>FACTURA </h1>
                  <p>Nro: </p>
                
              </div>
          </div>
      </div>
      <p-divider></p-divider>

      <div class="fieldset-search">
        <fieldset class="search-border">
            <legend>Buscar Cliente/Empleado EPN</legend>

            <div class="search">
                <div class=" flex justify-content-center gap-3">

                    <div class="flex align-items-center">
                        <p-radioButton name="Empleado" value="1" [(ngModel)]="tipoCliente" inputId="1">
                        </p-radioButton>
                        <label class="ml-2">Empleado Epn</label>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton name="cliente" value="2" [(ngModel)]="tipoCliente" inputId="2">
                        </p-radioButton>
                        <label class="ml-2">Cliente</label>
                    </div>
                    <div class="caja-boton-principal  py-3">
                        <button pButton label="Buscar" class=" bg-blue-900 " (click)="busquedaCliente()"
                            pTooltip="Buscar" tooltipPosition="right"></button>
                    </div>

                </div>
            </div>
        </fieldset>
    </div>
      <!-- <p-fieldset 
          align="center"
          class="flex justify-content-center"
          legend="Buscar Cliente/Estudiante/Empleado EPN"
          [style]="{ 'max-height': '13vh' }"
      >
          <div class="flex flex-wrap gap-3"  [style]="{ 'margin-top': '-22px' }">
              <div class="flex align-items-center">
                  <p-radioButton
                      name="cliente"
                      value="1"
                      inputId="1"
                  ></p-radioButton>
                  <label class="ml-2">Estudiante</label>
              </div>
              <div class="flex align-items-center">
                  <p-radioButton
                      name="cliente"
                      value="2"
                      inputId="2"
                  ></p-radioButton>
                  <label class="ml-2">Cliente</label>
              </div>
              <div class="flex align-items-center">
                  <p-radioButton
                      name="cliente"
                      value="2"
                      inputId="2"
                  ></p-radioButton>
                  <label class="ml-2">Empleado EPN</label>
              </div>
              <div class="caja-boton-principal">
                  <button
                      pButton
                      label="Buscar"
                      class="p-button p-button-lg m-1 p-button-info bg-blue-900"
                      pTooltip="Buscar"
                      (click)="abrirmodal2()"
                      tooltipPosition="right"
                  ></button>
              </div>
          </div>
      </p-fieldset> -->
      <br />

<!-- TABLA DATOS -->
<div class="fieldset-data">
  <fieldset style="border: 1px solid rgba(128, 128, 128, 0.642)">

      <div class="data" *ngIf="clienteSelect">
          <div class="ui-fluid formgrid grid">
              <div class="field col-12 md:col-6">
                  <label>Cédula / RUC: </label>
                  <b> <i class="text-1xl mr-2 mb-3"> {{clienteSelect.cedula}}</i></b>
              </div>
              <div class="field col-12 md:col-6">
                  <label>Nombre: </label>
                  <b> <i class="text-1xl mr-2 mb-3"> {{clienteSelect.nombre}}</i></b>
              </div>
              <div class="field col-12 md:col-6">
                  <label>Correo: </label>
                  <b> <i class="text-1xl mr-2 mb-3"> {{clienteSelect.correo}}</i></b>
              </div>
              <div class="field col-12 md:col-6">
                  <label>Dirección: </label>
                  <b> <i class="text-1xl mr-2 mb-3"> {{clienteSelect.direccion}}</i></b>
              </div>
              <div class="field col-12 md:col-6">
                  <label>Telefono: </label>
                  <b> <i class="text-1xl mr-2 mb-3"> {{clienteSelect.telefono}}</i></b>
              </div>
          </div>
      </div>
  </fieldset>
</div>


      <p-toolbar class="center-button">
          <button
              pButton
              label="Agregar"
              class="p-button p-button-lg m-1 p-button-info bg-blue-900"
              icon="pi pi-plus"
              type="submit"
              pTooltip="Agregar"
              tooltipPosition="right"
              (click)="abrirmodal1()"
          ></button>
      </p-toolbar>


      
       <!-- TABLA DIALOG -->
       <p-table styleClass="p-datatable-gridlines" [value]="conceptosList" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th style="background-color: rgb(206, 244, 244);" style="background-color: rgb(206, 244, 244);">Codigo</th>
                <th style="background-color: rgb(206, 244, 244);" >Descripcion</th>
                <th style="background-color: rgb(206, 244, 244);" >Cantidad</th>
                <th style="background-color: rgb(206, 244, 244);" >V/Unitario</th>
                <th style="background-color: rgb(206, 244, 244);" colspan="2">Total</th>
                <th style="background-color: rgb(206, 244, 244);" >Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-concepto>
            <tr>
                <td>{{ concepto.idConcepto}}</td>
                <td>{{ concepto.nombre}}</td>
                <td>{{ concepto.cantidad}}</td>
                <td>{{ concepto.valor}}</td>
                <td colspan="2">{{ concepto.total}} $</td>
                <td>
                    <button pButton icon="pi pi-pencil"
                        class="p-button-rounded p-button-warning p-button-text p-button-sm p-mr-2"
                        (click)="iniciarEdicionCantidad(concepto)" pTooltip="Editar"
                        tooltipPosition="left"></button>
                    <button pButton icon="pi pi-trash"
                        class="p-button-rounded p-button-danger p-button-text p-button-sm"
                        (click)="eliminarConcepto(concepto)" tooltipPosition="left" pTooltip="Eliminar"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <br>
       <!-- IVA-TOTAL-SUBTOTAL -->
       <p-table styleClass="p-datatable-gridlines" style="width: 20%;">
        <ng-template pTemplate="header">
            <tr> 
                <th style="width: 500px;"></th>
                <th>SUBTOTAL TOTAL:</th>
                <th>{{ subtotalTotal | number: '1.2-2' }}</th>
            </tr>
            <tr>
                <th></th>
                <th>IVA TOTAL 12%</th>
                <th>{{ ivaTotal | number: '1.2-2' }}</th>
            </tr>
            <tr>
                <th></th>
                <th>TOTAL FACTURA:</th>
                <th>{{ totalTotal | number: '1.2-2' }}</th>
            </tr>
        </ng-template>
    </p-table>

   

      <br><br>

      <div align="center" class="flex justify-content-center">
          <div class="caja-boton-principal">
              <button
                  pButton
                  label="Guardar"
                  class="p-button p-button-lg m-1 p-button-info bg-blue-900"
                  pTooltip="Guardar"
                  tooltipPosition="right"
              ></button>

              <button
                  pButton
                  label="Pagos(s)"
                  class="p-button p-button-lg m-1 p-button-info bg-blue-900"
                  pTooltip="Pagos(s)"
                  tooltipPosition="right"
                  (click)="modalOpen()"

                 
              ></button>
              
              <button
              pButton
              label="Regresar"
              class="p-button p-button-lg m-1 p-button-info bg-blue-900"
              pTooltip="Regresar"
              tooltipPosition="right"
              icon=" pi pi-arrow-left"
              (click)="cerrar()"
          ></button>
          </div>
      </div>
  </p-dialog>

   <!-- EDITAR DIALOG -->

   <p-dialog [header]="'Editar Concepto'" [(visible)]="editar" [style]="{ width: '31.5vw' }">
    <div class="md:col-6">
        <span class="p-float-label">
            <div class="fielset-infConceptosEditar">
                <fieldset class="search-infConceptosEditar">
                    <legend>Informacion de Conceptos</legend>
                    <div class="p-field col-12 md:mb-2 mb-0 px-3">
                        <span class="p-float-label">
                            <input pInputText disabled="true" type="number" />
                            <label>Nombre:
                                <b>
                                    <i class="text-1xl mr-2 mb-3">{{ conceptoEditando?.nombre }}</i></b>
                            </label>
                        </span>
                    </div>
                    <div class="p-field col-12 md:mb-2 mb-0 px-3">
                        <span class="p-float-label">
                            <input pInputText disabled="true" type="number" />
                            <label>Precio Unitario:
                                <b>
                                    <i class="text-1xl mr-2 mb-3">{{ conceptoEditando?.valor }}</i></b></label>
                        </span>
                    </div>
                    <div class="p-field col-12 md:mb-2 mb-0 px-3">
                        <span class="p-float-label">
                            <input pInputText id="ftxt-cantidad" [(ngModel)]="cantidadEditando" required="true"
                                type="number" min="1" />
                            <label>* Cantidad:</label>
                        </span>
                    </div>

                    <div align="center" class="flex justify-content-center">
                        <div class="caja-boton-principal">
                            <button pButton label="Guardar" (click)="guardarEdicionCantidad()"
                                [disabled]="cantidadEditando === conceptoEditando?.cantidad" class="m-1 bg-blue-900"
                                pTooltip="Guardar" icon="pi pi-save" tooltipPosition="right"></button>

                            <button pButton label="Cancelar" class="m-1 bg-blue-900" pTooltip="Cancelar"
                                tooltipPosition="right" (click)="editarmodal()"></button>
                        </div>
                    </div>

                </fieldset>
            </div>
        </span>
    </div>
</p-dialog>


  <app-list-forma-pago [display]="displayModal" (closeModal)="closeModal()"></app-list-forma-pago>


  <p-dialog
  header="Agregar Detalle Factura"
  [(visible)]="modal1"
  [style]="{ width: '50vw' }"
  [modal]="true"
>
  <br /><br />
  <div class="p-dialog-content">
    <div class="p-grid">
      <div class="p-col-6">
        <h3 class="mb-3">Conceptos</h3>
        <!-- <p-table
          [value]="listConceptos"
          [loading]="loading"
          #dt1
          selectionMode="single"
          dataKey="id"
          [tableStyle]="{ 'min-width': '20rem' }"
          [rows]="4"
          [paginator]="true"
          stateStorage="session"
          stateKey="statedemo-session"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>
                <div class="flex justify-content-between align-items-center">
                  <strong style="font-weight: bold">&#8470;</strong>
                </div>
              </th>
              <th>
                <input
                  pInputText
                  type="text"
                  (input)="dt1.filter($event.target.value, 'name', 'contains')"
                  [value]="dt1.filters['name']?.value"
                  placeholder="Concepto"
                  class="w-full"
                />
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-customer>
            <tr [pSelectableRow]="customer">
              <td>{{customer.nombreConcepto}}</td>
              <td>
                <span class="p-column-title">Country</span>
                <img
                  src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                  [class]="'flag flag-' + customer.country.code"
                  style="width: 20px"
                />
                <span class="ml-1 vertical-align-middle">{{ customer.country.name }}</span>
              </td>
            </tr>
          </ng-template>
        </p-table> -->

        <p-table   #dt [value]="listConceptos "  [rows]="3" [paginator]="true" [loading]="loading"
        [globalFilterFields]="[
                'nombreConcepto',
                'codigoConcepto',
             ]" responsiveLayout="scroll"  [rowHover]="true"
        dataKey="idConcepto" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-wrap">
             

             
                <span class="p-input-icon-left ">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" class="p-inputtext-sm"
                        (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Buscar Concepto" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr> 
                <th pSortableColumn="codigoConcepto">
                    <div class="flex justify-content-between align-items-center">ID
                        <p-sortIcon field="codigoConcepto"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="nombreConcepto">
                  <div class="flex justify-content-between align-items-center">Nombre
                      <p-sortIcon field="nombreConcepto"></p-sortIcon>
                  </div>
              </th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr>      
               
                <td>{{item.codigoConcepto}}</td>
                <td>{{item.nombreConcepto}}</td>
                <td> <a pButton class="bg-blue-900 py-3" icon="pi pi-plus"
                  (click)="showAttributes(item)"></a></td>
               
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Registros Totales: {{listConceptos ? listConceptos.length : 0 }}.
            </div>
        </ng-template>
        
    </p-table>
    

      </div>

      <div class="p-col-6">
        <h3 class="mb-3">Información Concepto</h3>
        <div class="p-fluid p-formgrid grid input">
               
       <div class="ui-fluid formgrid grid"  >
          <div class="p-field col-12 md:col-12 md:mb-1 mb-0 px-3">
          <span class="p-float-label">
          <label><b>ID:</b> {{ idConcepto }}</label>
          <b><i class="text-1xl mr-2 mb-3"></i></b>
     </span>
      </div>
      <div class="p-field col-12 md:col-12 md:mb-1 mb-0 px-3">
        <span class="p-float-label">
          <label style="width: 250px;"><b>Nombre:</b> {{ nombreConcepto }}</label>
          <b><i class="text-1xl mr-2 mb-3"></i></b>
      </span>
      </div>
     
      <div class="p-field col-12 md:col-12 md:mb-1 mb-0 px-3">
        <span class="p-float-label">
          <label><b>Precio Unitario:</b> {{ valorConcepto }}</label>
          <b><i class="text-1xl mr-2 mb-3"></i></b>
       </span>
       </div>


      </div>
          <div class="p-field col-12 md:col-12 md:mb-1 mb-0 px-3">
             <span class="p-float-label">
              <input pInputText id="ftxt-nombreCentroCosto" [(ngModel)]="cantidadTemporal" required="true" type="number" />
              <label for="ftxt-nombreCentroCosto">* Cantidad: </label>
             </span>
          </div>

        </div>
      </div> <!-- cierre -->
      
    </div>

    <div align="center" class="flex justify-content-center">
      <div class="caja-boton-principal">
          <button
              pButton
              label="Guardar"
              class="p-button p-button-lg m-1 p-button-info bg-blue-900"
              pTooltip="Guardar"
              tooltipPosition="right"
              (click)="addToConceptosList()"
            
          ></button>

          <button
          pButton
          label="cancelar"
          class="p-button p-button-lg m-1 p-button-info bg-blue-900"
          pTooltip="Regresar"
          tooltipPosition="right"
          (click)="cerrar1()"
      ></button>
      </div>
  </div>
  </div>
</p-dialog>

   <!-- Dialog Buscar -->

   <p-dialog [header]=" 'Busqueda' " [(visible)]="modalBuscar" [style]="{ width: '65vw' }">
    <div class="fieldset-search2">
        <fieldset class="search-border2">
            <legend>Buscar</legend>
            <div class="search">
                <div class="flex flex-wrap gap-3">
                    <div class="flex align-items-center">
                        <label class="ml-2">Apellidos: </label>
                        <input type="text" id="txtnombreB" pInputText [(ngModel)]="nombreBusqueda" />
                    </div>
                    <div class="flex align-items-center">
                        <label class="ml-2">C.l: </label>
                        <input type="text" id="txtCedulaB" pInputText [(ngModel)]="cedulaBusqueda" />
                    </div>
                    <div class="caja-boton-principal">
                        <button pButton label="Buscar" class="p-button p-button-lg m-1 p-button-info bg-blue-900"
                            pTooltip="Buscar" (click)="llenarListCliente()" tooltipPosition="right"></button>
                    </div>
                </div>
            </div>

        </fieldset>
    </div>
</p-dialog>
  
  
  
  

<!-- 
<p-dialog [contentStyle]="{'': 'visible'}"   header="" [(visible)]="modal" [modal]="true"
 [draggable]="true" [resizable]="true" (onHide)="cerrar()" xmlns:p="http://www.w3.org/1999/html">
    <p-header>
        <h4 class="">Factura Otros Conceptos</h4>
    </p-header>
    <div class="p-d-flex">
      <p-card >
     
      
        <form>
            
            <div class="">
          
                <header class="text-center">BUSCAR FACTURAS DE OTROS CONCEPTOS</header>
                <br />
    
               
        <div class="p-fluid p-formgrid grid">
            <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
              <span class="p-float-label">
                <input pInputText id="ftxt-nombreFp" type="text" required="true" />
                <label for="ftxt-nombreFp">* Factura No.</label>
              </span>
            </div>
            <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3">
              <label for="ftxt-activo" style="color: rgba(0, 0, 0, 0.6)">* Estado</label>
              <span class="p-float-label">
                <p-inputSwitch id="ftxt-activo"></p-inputSwitch>
              </span>
            </div>
          </div>
  
          <div class="p-fluid p-formgrid grid">
            <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
              <span class="p-float-label">
                <input pInputText id="ftxt-nombreFp" type="text" required="true" />
                <label for="ftxt-nombreFp">* Nombre Cliente</label>
              </span>
            </div>
            <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
              <span class="p-float-label">
                <input pInputText id="ftxt-cedula" type="text" required="true" (input)="onInput($event)"[(ngModel)]="cedula" keyfilter="int" maxlength="13" />
                <label for="ftxt-cedula">* Ruc/Cédula</label>
              </span>
            </div>
          </div>
  
          <div class="p-fluid p-formgrid grid">
            <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
              <label for="ftxt-nombreFp">* Fecha Desde</label>
              <span class="p-float-label">
                <input pInputText id="ftxt-fechaDesde" type="date" required="true" />
              </span>
            </div>
            <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
              <label for="ftxt-nombreFp">* Fecha Hasta</label>
              <span class="p-float-label">
                <input pInputText id="ftxt-fechaHasta" type="date" required="true" />
              </span>
            </div>
          </div>
    
                <div class="central">
                    <p-toolbar>
                        <div class="p-toolbar-group-center">
                            <button
                                pButton
                                label="Buscar"
                                class="p-button p-button-lg m-1 p-button-info guardar-button"
                                icon="pi pi-search"
                                type="submit"
                                pTooltip="Buscar"
                                tooltipPosition="right"
                            ></button>
                        </div>
                    </p-toolbar>
                </div>

                <button pButton type="button" icon="pi pi-arrow-left" (click)="cerrar()" label="Volver"></button>
            </div>
        </form>
      
    </p-card>  
    </div>
    <app-fact-otros-conceptos-table>
    </app-fact-otros-conceptos-table>
</p-dialog> -->

    <p-header class="flex align-items-center bg-blue-900 p-3 pb-1 text-white">
        <h4>Factura Otros Conceptos</h4>
    </p-header>
    <div class="caja-boton-principal central" style="align-items: center">
        <button
            pButton
            label="Agregar otros conceptos"
            class="p-button p-button-lg m-1 p-button-info bg-blue-900"
            icon="pi pi-plus"
            pTooltip="Agregar Forma de Pago"
            label="Agregar"
            tooltipPosition="right"

            (click)="abrirmodal()"
        ></button>
    </div>

    <p-divider></p-divider>
    <header class="text-center">BUSCAR FACTURAS DE OTROS CONCEPTOS</header>

    <div class="p-d-flex">
    <form>
        <div class="">
            <br />

            <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
                  <span class="p-float-label">
                    <input pInputText id="ftxt-nombreFp" type="text" required="true" />
                    <label for="ftxt-nombreFp">* Factura No.</label>
                  </span>
                </div>
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3">
                  <label for="ftxt-activo" style="color: rgba(0, 0, 0, 0.6)">* Estado</label>
                  <span class="p-float-label">
                    <p-inputSwitch id="ftxt-activo"></p-inputSwitch>
                  </span>
                </div>
              </div>
      
              <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
                  <span class="p-float-label">
                    <input pInputText id="ftxt-nombreFp" type="text" required="true" />
                    <label for="ftxt-nombreFp">* Nombre Cliente</label>
                  </span>
                </div>
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
                  <span class="p-float-label">
                    <input pInputText id="ftxt-cedula" type="text" required="true" (input)="onInput($event)"[(ngModel)]="cedula" keyfilter="int" maxlength="13" />
                    <label for="ftxt-cedula">* Ruc/Cédula</label>
                  </span>
                </div>
              </div>
      
              <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
                  <label for="ftxt-nombreFp">* Fecha Desde</label>
                  <span class="p-float-label">
                    <input pInputText id="ftxt-fechaDesde" type="date" required="true" />
                  </span>
                </div>
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
                  <label for="ftxt-nombreFp">* Fecha Hasta</label>
                  <span class="p-float-label">
                    <input pInputText id="ftxt-fechaHasta" type="date" required="true" />
                  </span>
                </div>
              </div>

            <div class="central">
                <p-toolbar>
                    <div class="p-toolbar-group-center">
                        <button
                            pButton
                            label="Buscar"
                            class="p-button p-button-lg m-1 p-button-info guardar-button"
                            icon="pi pi-search"
                            type="submit"
                            pTooltip="Buscar"
                            tooltipPosition="right"
                        ></button>
                    </div>
                </p-toolbar>
            </div>
        </div>
    </form>
</div>


</p-card>

  <!-- Dialog Tabla Buscar -->

  <p-dialog [header]="'Listado'" [(visible)]="modalBusTabl" [style]="{ width: '65vw' }">
    <div>
        <p-table #dt currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros"
            [paginator]="true" [rows]="5" [value]="listCliente" [tableStyle]="{ 'min-width': '50rem' }"
            [globalFilterFields]="[ 
            'cedula',
            'nombre',
            ]">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-center">
                    <span class="p-input-icon-left  ">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" class="p-inputtext-sm uppercase"
                            (input)="dt.filterGlobal($event.target.value ,'contains')"
                            placeholder="Busqueda General" />
                    </span>
                </div>
            </ng-template>




            <ng-template pTemplate="header">
                <tr>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cliente>
                <tr>
                    <td>{{ cliente.cedula}}</td>
                    <td>{{ cliente.nombre }}</td>
                    <div class="field col-12 md:col-12" align="center">
                        <button pButton label="Seleccionar" class="bg-blue-900 " (click)="cargarCliente(cliente)"
                            pTooltip="Buscar" tooltipPosition="right"></button>
                    </div>

                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>
