

<p-dialog [contentStyle]="{'': 'visible'}"   header="" [(visible)]="modal" [modal]="true"
 [draggable]="true" [resizable]="true" (onHide)="cerrar()" xmlns:p="http://www.w3.org/1999/html">
    <p-header>
        <h4 class="">Factura Otros Conceptos</h4>
    </p-header>
    <div class="p-d-flex">
      <p-card >
     
      
        <form>
            
            <div class="">
          
                <header class="text-center">BUSCAR FACTURAS DE OTROS CONCEPTOS</header>
                <br />
    
               
        <div class="p-fluid p-formgrid grid">
            <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
              <span class="p-float-label">
                <input pInputText id="ftxt-nombreFp" type="text" required="true" />
                <label for="ftxt-nombreFp">* Factura No.</label>
              </span>
            </div>
            <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3">
              <label for="ftxt-activo" style="color: rgba(0, 0, 0, 0.6)">* Estado</label>
              <span class="p-float-label">
                <p-inputSwitch id="ftxt-activo"></p-inputSwitch>
              </span>
            </div>
          </div>
  
          <div class="p-fluid p-formgrid grid">
            <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
              <span class="p-float-label">
                <input pInputText id="ftxt-nombreFp" type="text" required="true" />
                <label for="ftxt-nombreFp">* Nombre Cliente</label>
              </span>
            </div>
            <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
              <span class="p-float-label">
                <input pInputText id="ftxt-rucCedula" type="number"  onKeyPress="if(this.value.length==10) return false;" required="true" />
                <label for="ftxt-rucCedula">* Ruc/Cédula</label>
              </span>
            </div>
          </div>
  
          <div class="p-fluid p-formgrid grid">
            <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
              <label for="ftxt-nombreFp">* Fecha Desde</label>
              <span class="p-float-label">
                <input pInputText id="ftxt-fechaDesde" type="date" required="true" />
              </span>
            </div>
            <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
              <label for="ftxt-nombreFp">* Fecha Hasta</label>
              <span class="p-float-label">
                <input pInputText id="ftxt-fechaHasta" type="date" required="true" />
              </span>
            </div>
          </div>
    
                <div class="central">
                    <p-toolbar>
                        <div class="p-toolbar-group-center">
                            <button
                                pButton
                                label="Buscar"
                                class="p-button p-button-lg m-1 p-button-info guardar-button"
                                icon="pi pi-search"
                                type="submit"
                                pTooltip="Buscar"
                                tooltipPosition="right"
                            ></button>
                        </div>
                    </p-toolbar>
                </div>

                <button pButton type="button" icon="pi pi-arrow-left" (click)="cerrar()" label="Volver"></button>
            </div>
        </form>
      
    </p-card>  
    </div>
    <app-fact-otros-conceptos-table>
    </app-fact-otros-conceptos-table>
</p-dialog>



<p-card>
    <p-header class="flex align-items-center bg-blue-900 p-3 pb-1 text-white">
        <h4>Factura Otros Conceptos</h4>
    </p-header>
    <div class="caja-boton-principal central" style="align-items: center">
        <button
            pButton
            label="Agregar Forma de Pago"
            class="p-button p-button-lg m-1 p-button-info bg-blue-900"
            icon="pi pi-plus"
            pTooltip="Agregar Forma de Pago"
            label="Agregar"
            tooltipPosition="right"

            (click)="abrirmodal()"
        ></button>
    </div>

    <p-divider></p-divider>
    <header class="text-center">BUSCAR FACTURAS DE OTROS CONCEPTOS</header>

    <div class="p-d-flex">
    <form>
        <div class="">
            <br />

            <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
                  <span class="p-float-label">
                    <input pInputText id="ftxt-nombreFp" type="text" required="true" />
                    <label for="ftxt-nombreFp">* Factura No.</label>
                  </span>
                </div>
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3">
                  <label for="ftxt-activo" style="color: rgba(0, 0, 0, 0.6)">* Estado</label>
                  <span class="p-float-label">
                    <p-inputSwitch id="ftxt-activo"></p-inputSwitch>
                  </span>
                </div>
              </div>
      
              <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
                  <span class="p-float-label">
                    <input pInputText id="ftxt-nombreFp" type="text" required="true" />
                    <label for="ftxt-nombreFp">* Nombre Cliente</label>
                  </span>
                </div>
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
                  <span class="p-float-label">
                    <input pInputText id="ftxt-rucCedula" type="text" required="true" />
                    <label for="ftxt-rucCedula">* Ruc/Cédula</label>
                  </span>
                </div>
              </div>
      
              <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
                  <label for="ftxt-nombreFp">* Fecha Desde</label>
                  <span class="p-float-label">
                    <input pInputText id="ftxt-fechaDesde" type="date" required="true" />
                  </span>
                </div>
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
                  <label for="ftxt-nombreFp">* Fecha Hasta</label>
                  <span class="p-float-label">
                    <input pInputText id="ftxt-fechaHasta" type="date" required="true" />
                  </span>
                </div>
              </div>

            <div class="central">
                <p-toolbar>
                    <div class="p-toolbar-group-center">
                        <button
                            pButton
                            label="Buscar"
                            class="p-button p-button-lg m-1 p-button-info guardar-button"
                            icon="pi pi-search"
                            type="submit"
                            pTooltip="Buscar"
                            tooltipPosition="right"
                        ></button>
                    </div>
                </p-toolbar>
            </div>
        </div>
    </form>
</div>

<app-fact-otros-conceptos-table>
</app-fact-otros-conceptos-table>
</p-card>




<!-- 

<p-card>
  <p-header class="flex align-items-center bg-blue-900 p-3 pb-1 text-white">
    <h4>Factura Otros Conceptos</h4>
  </p-header>
  <div class="caja-boton-principal central" style="align-items: center">
    <button pButton label="Agregar Forma de Pago" class="p-button p-button-lg m-1 p-button-info bg-blue-900"
      icon="pi pi-plus" pTooltip="Agregar Forma de Pago" label="Agregar" tooltipPosition="right"></button>
  </div>

  <p-divider></p-divider>

  <div style="margin-left: 200px;">
    <header>BUSCAR FACTURAS DE OTROS CONCEPTOS</header>

    <form>
      <div class="">
        <br />

        <div class="p-fluid p-formgrid grid">
          <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
            <span class="p-float-label">
              <input pInputText id="ftxt-nombreFp" type="text" required="true" />
              <label for="ftxt-nombreFp">* Factura No.</label>
            </span>
          </div>
          <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3">
            <label for="ftxt-activo" style="color: rgba(0, 0, 0, 0.6)">* Estado</label>
            <span class="p-float-label">
              <p-inputSwitch id="ftxt-activo"></p-inputSwitch>
            </span>
          </div>
        </div>

        <div class="p-fluid p-formgrid grid">
          <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
            <span class="p-float-label">
              <input pInputText id="ftxt-nombreFp" type="text" required="true" />
              <label for="ftxt-nombreFp">* Nombre Cliente</label>
            </span>
          </div>
          <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
            <span class="p-float-label">
              <input pInputText id="ftxt-rucCedula" type="text" required="true" />
              <label for="ftxt-rucCedula">* Ruc/Cédula</label>
            </span>
          </div>
        </div>

        <div class="p-fluid p-formgrid grid">
          <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
            <label for="ftxt-nombreFp">* Fecha Desde</label>
            <span class="p-float-label">
              <input pInputText id="ftxt-fechaDesde" type="date" required="true" />
            </span>
          </div>
          <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 400px;">
            <label for="ftxt-nombreFp">* Fecha Hasta</label>
            <span class="p-float-label">
              <input pInputText id="ftxt-fechaHasta" type="date" required="true" />
            </span>
          </div>
        </div>

        <div class="central" style="margin-left: -200px">
          <p-toolbar>
            <div class="p-toolbar-group-center">
              <button pButton label="Buscar" class="p-button p-button-lg m-1 p-button-info guardar-button"
                icon="pi pi-search" type="submit" pTooltip="Buscar" tooltipPosition="right"></button>
            </div>
          </p-toolbar>
        </div>
      </div>
    </form>

  </div>


  <app-fact-otros-conceptos-table>
  </app-fact-otros-conceptos-table>
</p-card> -->