<section class="content">
    <div class="container-fluid">
        <div class="card">
            <p-table #dt [value]="listConceptos" [rows]="10" [paginator]="true" [loading]="loading"
                     [globalFilterFields]="[
                        'idConcepto',
                        'nombreConcepto',
                        'estadoConcetpto',
                        'descConcepto',
                        'codigoConcepto',
                        'valorConcepto',
                     ]"
                     responsiveLayout="scroll" [(selection)]="selectedConceptos"
                     [rowHover]="true" dataKey="idConcepto"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-wrap">
                        <div>
                            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                                    class="p-button-sm p-button-outlined p-button-success p-mr-2 m-1" pTooltip="XLS"
                                    tooltipPosition="bottom"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                                    class="p-button-sm p-button-outlined p-button-danger p-mr-2 m-1" pTooltip="PDF"
                                    tooltipPosition="bottom"></button>
                            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger p-button-sm m-1"
                                    (click)="deleteSelectedConceptos()" pTooltip="Eliminar Seleccionados" tooltipPosition="right"
                                    [disabled]="!selectedConceptos || !selectedConceptos.length"></button>
                            <button pButton label="Clear" class="p-button-outlined p-button-sm m-1" icon="pi pi-filter-slash"
                                    (click)="clear(dt)" pTooltip="Quitar Filtros" tooltipPosition="right"></button>
                        </div>

                        <label class="text-center">CONCEPTOS</label>
                        <span class="p-input-icon-left ">
              <i class="pi pi-search"></i>
              <input pInputText type="text" class="p-inputtext-sm"
                     (input)="dt.filterGlobal($event.target.valueOf(), 'contains')" placeholder="Busqueda General" />
            </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="idConcepto">
                            <div class="flex justify-content-between align-items-center"> <bold  style="font-weight: bold;">&#8470;</bold>
                                <p-sortIcon field="idConcepto"></p-sortIcon>
                                <p-columnFilter type="text" field="idConcepto" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="nombreConcepto">
                            <div class="flex justify-content-between align-items-center">Nombre
                                <p-sortIcon field="nombreConcepto"></p-sortIcon>
                                <p-columnFilter type="text" field="nombreConcepto" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="codigoConcepto">
                            <div class="flex justify-content-between align-items-center">Codigo
                                <p-sortIcon field="codigoConcepto"></p-sortIcon>
                                <p-columnFilter type="text" field="codigoConcepto" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="estadoConcetpto">
                            <div class="flex justify-content-between align-items-center">Estado
                                <p-sortIcon field="estadoConcetpto"></p-sortIcon>
                                <p-columnFilter type="text" field="estadoConcetpto" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="descConcepto">
                            <div class="flex justify-content-between align-items-center">Detalle
                                <p-sortIcon field="descConcepto"></p-sortIcon>
                                <p-columnFilter type="text" field="descConcepto" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        
                        
                        
                        <th pSortableColumn="valorConcepto">
                            <div class="flex justify-content-between align-items-center">Valor
                                <p-sortIcon field="valorConcepto"></p-sortIcon>
                                <p-columnFilter type="text" field="valorConcepto" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        
                        

                        <th>Acciones</th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex" >
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="item"></p-tableCheckbox>
                        </td>
                        <td>{{rowIndex+1}}</td>
                        <td>{{item.nombreConcepto}}</td>
                        <td>{{item.codigoConcepto}}</td>
                        <td   >  <mark [ngClass]="item.estadoConcetpto == 'ACTIVO'
                            ? 'border-green-500' : 'border-red-500' ">{{item.estadoConcetpto}}</mark></td>
                        <td>{{item.descConcepto}}</td>
                        <td>{{item.valorConcepto}}</td>


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-warning p-button-text p-button-sm p-mr-2" (click)="editConceptos(item)"
                                    pTooltip="Editar" tooltipPosition="left"   ></button>
                            <button pButton pRipple icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger p-button-text p-button-sm" (click)="deleteConceptos(item)"
                                    pTooltip="Eliminar" tooltipPosition="left" *ngIf="item.estadoConcetpto =='ACTIVO'" ></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Registros Totales: {{listConceptos ? listConceptos.length : 0 }}.
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
</section>
