<p-card>
    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

    <!-- Dialog 0 -->
    <p-dialog header="Consultar Factura Matricula" [(visible)]="modal" [style]="{ width: '60vw' }">
        <!--ANDRES MONTOYA-->

        <!-- HEADER -->
        <div class="header-card">
            <div class="header-img">
                <img alt="Card" src="../../../../../../assets/img/epn.png" />
            </div>
            <div class="header-container">
                <h4>ESCUELA POLITECNICA NACIONAL</h4>
                <p>
                    Campus Politecnico "J. Ruben Orellana R."<br />
                    Ladron de Guevara E11-253 y Andalucia<br />
                    Telf.: 2507-144 / Fax: 2567-848<br />
                    P.O. Box: 17-01-2759 / QUITO-ECUADOR<br />
                </p>
            </div>
            <div class="header-recibo">
                <div class="recibo-caja">
                    <h1>FACTURA MATRICULAS</h1>
                    <h3>Nro. 132-123-12345</h3>
                </div>
            </div>
        </div>

        <br />
        <!-- BUSQUEDA -->

        <div class="fieldset-search">
            <fieldset class="search-border">
                <legend>Buscar Cliente</legend>

                <div class="search">
                    <div class=" flex justify-content-center gap-3">

                        <div class="flex align-items-center">
                            <p-radioButton name="cliente" value="1" [(ngModel)]="tipoCliente" inputId="1" #inputSearch
                                (keydown.enter)="busquedaCliente()"></p-radioButton>
                            <label class="ml-2">Cliente</label>
                        </div>


                        <div class="caja-boton-principal  py-3">
                            <button pButton label="Buscar" class=" bg-blue-900 " (click)="busquedaCliente()"
                                pTooltip="Buscar" tooltipPosition="right"></button>
                        </div>

                    </div>
                </div>
            </fieldset>
        </div>

        <!-- TABLA DATOS -->
        <div class="fieldset-data">
            <fieldset style="border: 1px solid rgba(128, 128, 128, 0.642)">

                <div class="data" *ngIf="clienteSelect">
                    <div class="ui-fluid formgrid grid">
                        <div class="field col-12 md:col-6">
                            <label>Cédula / RUC: </label>
                            <b> <i class="text-1xl mr-2 mb-3"> {{clienteSelect.cedula}}</i></b>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label>Nombre: </label>
                            <b> <i class="text-1xl mr-2 mb-3"> {{clienteSelect.nombre}}</i></b>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label>Correo: </label>
                            <b> <i class="text-1xl mr-2 mb-3"> {{clienteSelect.correo}}</i></b>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label>Dirección: </label>
                            <b> <i class="text-1xl mr-2 mb-3"> {{clienteSelect.direccion}}</i></b>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label>Telefono: </label>
                            <b> <i class="text-1xl mr-2 mb-3"> {{clienteSelect.telefono}}</i></b>
                        </div>
                        <!-- <div class="field col-12 md:col-6">
                            <label>Forma Pago: </label>
                            <b> <i class="text-1xl mr-2 mb-3"> {{pagoSelect.nombreFp}}</i></b>
                        </div> -->
                    </div>
                </div>

            </fieldset>
        </div>


        <br />

    
        <br>
        <div align="center" class="flex justify-content-center">
            <div class="caja-boton-principal">
                
              <button pButton label="Nueva Consulta" class="p-button p-button-lg m-1 p-button-info bg-blue-900"
              pTooltip="Pagos(s)" tooltipPosition="right" icon="pi pi-money-bill" (click)="busquedaCliente()"></button>
                <button pButton label="Pagos(s)" class="p-button p-button-lg m-1 p-button-info bg-blue-900"
                    pTooltip="Pagos(s)" tooltipPosition="right" icon="pi pi-money-bill" (click)="modalOpen()"></button>

                <button pButton label="Regresar" class="p-button p-button-lg m-1 p-button-info bg-blue-900"
                    pTooltip="Regresar" tooltipPosition="right" icon=" pi pi-arrow-left" (click)="cerrar()"></button>
            </div>
        </div>
    </p-dialog>
    <app-list-forma-pago [display]="displayModal" (closeModal)="closeModal()"></app-list-forma-pago>

    <div class="caja-boton-principal center-button">
        <button pButton label="Ver Factura Matricula" (click)="registrarNuevo()" class="m-1 bg-blue-900"
            icon="pi pi-plus" pTooltip="Agregar" tooltipPosition="right"></button>
    </div>
    <p-divider></p-divider>
    <header class="text-center">BUSCAR FACTURAS DE MATRICULAS</header>
    <div class="p-d-flex">

        <form [formGroup]="formFacturaMatricula" (ngSubmit)="filtrarFacturas()">
            <div class="">
                <br />

                <div class="p-fluid p-formgrid grid">
                    <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                        <span class="p-float-label">
                            <input pInputText id="ftxt-codFactura" type="text" formControlName="codFactura" />
                            <label for="ftxt-codFactura">* Factura no.</label>
                        </span>
                    </div>

                    <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">

                      <p-dropdown id="ftxt-estadoSri" formControlName="estadoSri" [options]="estados" placeholder="escoger el estado"></p-dropdown>

                </div>
                </div>

                <div class="p-fluid p-formgrid grid">
                    <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                        <span class="p-float-label">
                            <input pInputText id="ftxt-nombreConsumidor" type="text" required="true"
                                formControlName="nombreConsumidor" />
                            <label for="ftxt-nombreConsumidor">* Nombre Cliente</label>
                        </span>
                    </div>
                </div>

                <div class="p-fluid p-formgrid grid">

                    <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                        <span class="p-float-label">
                            <input pInputText id="ftxt-rucConsumidor" type="text" required="true"
                                (input)="onInput($event)" formControlName="rucConsumidor" maxlength="13"
                                keyfilter="int" />
                            <label for="ftxt-rucConsumidor">* Ruc</label>
                        </span>
                    </div>
                </div>
                <div class="p-fluid p-formgrid grid">
                    <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                        <label for="ftxt-fechaFact">* Fecha Desde</label>
                        <span class="p-float-label">
                            <input pInputText id="ftxt-fechaFact" type="date" required="true"
                                formControlName="fechaFact" />
                        </span>
                    </div>
                    <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                        <label for="ftxt-fechaFact">* Fecha Hasta</label>
                        <span class="p-float-label">
                            <input pInputText id="ftxt-fechaFact" type="date" required="true"
                                formControlName="fechaFact" />
                        </span>
                    </div>
                </div>


                <div class="central">
                    <p-toolbar>
                        <div class="p-toolbar-group-center">
                            <button pButton label="Buscar" class="p-button p-button-lg m-1 p-button-info guardar-button"
                                icon="pi pi-search" type="submit" pTooltip="Buscar" (click)="filtrarFacturas()"
                                tooltipPosition="right"></button>
                        </div>
                    </p-toolbar>
                </div>
            </div>
        </form>
    </div>

</p-card>
<!-- Buscar 2 Nombre ,CI -->



<!-- Tabla lista Estudiante  -->
<p-dialog header="Buscar" [(visible)]="modallista" [style]="{ width: '60vw' }">


    <h2>Lista de Estudiantes</h2>

    <p-table>
        <ng-template pTemplate="header">
            <tr>
                <th colspan="5">Estudiantes
            </tr>
            <tr>
                <th>N° Único</th>
                <th>Estudiante</th>
                <th>Cédula</th>
                <th>Dirección</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-estudiante>
            <tr>
                <td>{{ estudiante.nUnico }}</td>
                <td>{{ estudiante.nombre }}</td>
                <td>{{ estudiante.cedula }}</td>
                <td>{{ estudiante.direccion }}</td>

                <td>
                    <button pButton label="Seleccionar" class="p-button p-button-info"
                        (click)="seleccionarEstudiante(estudiante)"></button>
                </td>
                <!-- Agrega aquí los botones de acciones para cada estudiante -->
                <!-- <button pButton label="Seleccionar" class="p-button p-button-info" (click)="seleccionarEstudiante(estudiante)"></button> -->

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No hay datos para mostrar.</td>
            </tr>
        </ng-template>
    </p-table>
    <br>
    <br>

    <h2>Gestiones</h2>

    <p-table>
        <ng-template pTemplate="header">
            <tr>
                <th colspan="5">Gestiones
            </tr>
            <tr>
                <th>N° Único</th>
                <th>Estudiante</th>
                <th>Cédula</th>
                <th>Dirección</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-estudiante>
            <tr>
                <td>{{ estudiante.nUnico }}</td>
                <td>{{ estudiante.nombre }}</td>
                <td>{{ estudiante.cedula }}</td>
                <td>{{ estudiante.direccion }}</td>
                <td colspan="5">No hay datos para mostrar.>
                    <!-- Agrega aquí los botones de acciones para cada estudiante -->
                    <button pButton label="Seleccionar" class="p-button p-button-info"
                        (click)="seleccionarEstudiante(estudiante)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No hay datos para mostrar.</td>
            </tr>
        </ng-template>
    </p-table>

</p-dialog>

<!-- Dialog Buscar -->

<p-dialog [header]=" 'Buscar por ' + data " [(visible)]="modalBuscar" [style]="{ width: '65vw' }">
    <div class="fieldset-search2">
        <fieldset class="search-border2">
            <legend>Buscar</legend>
            <div class="search">
                <div class="flex flex-wrap gap-3">
                    <div class="flex align-items-center">
                        <label class="ml-2">Apellidos: </label>
                        <input type="text" id="txtnombreB" pInputText [(ngModel)]="nombreBusqueda" />
                    </div>
                    <div class="flex align-items-center">
                        <label class="ml-2">C.l: </label>
                        <input type="text" id="txtCedulaB" pInputText [(ngModel)]="cedulaBusqueda" #inputSearch
                            (keydown.enter)="llenarListCliente()" />
                    </div>
                    <div class="caja-boton-principal">

                        <button pButton label="Buscar" class="p-button p-button-lg m-1 p-button-info bg-blue-900"
                            pTooltip="Buscar" (click)="llenarListCliente()" pInputText
                            (keydown.enter)="llenarListCliente()" tooltipPosition="right"></button>
                    </div>
                </div>
            </div>

        </fieldset>
    </div>
</p-dialog>

<!-- Dialog Tabla Buscar -->

<p-dialog [header]="'Listado'" [(visible)]="modalBusTabl" [style]="{ width: '65vw' }">
    <div>
        <p-table #dt currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros"
            [paginator]="true" [rows]="5" [value]="listCliente" [tableStyle]="{ 'min-width': '50rem' }"
            [globalFilterFields]="[ 
          'cedula',
          'nombre',
          ]">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-center">
                    <span class="p-input-icon-left  ">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" class="p-inputtext-sm uppercase"
                            (input)="dt.filterGlobal($event.target.value ,'contains')" placeholder="Busqueda General" />
                    </span>
                </div>
            </ng-template>




            <ng-template pTemplate="header">
                <tr>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cliente>
                <tr>
                    <td>{{ cliente.cedula}}</td>
                    <td>{{ cliente.nombre }}</td>
                    <div class="field col-12 md:col-12" align="center">
                        <button pButton label="Seleccionar" class="bg-blue-900 " (click)="cargarCliente(cliente)"
                            pTooltip="Buscar" tooltipPosition="right"></button>
                    </div>

                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>
