<!-- [style]="{width: '70vw'}" -->
<!-- <p-card [style]="{width: '45vw'}" class="central">
    <p-header class="mb-4">
        <h4 style="background:#0d3c61; color: aliceblue; padding: 15px;">BUSCAR RECIBOS CAJA</h4>
    </p-header>

    <form [formGroup]="anularRecibCajaForm" class="mt-2 px-4" [style]="{width: '100%'}">
        <div class="formgrid p-grid p-fluid">
            <div class="col-12 md:col-6 ">
                <span class="p-float-label">
                    <input pInputText id="ftxt-NroReciboCaja" type="text" required="true"
                        formControlName="NroReciboCaja" style="text-transform: uppercase;">
                    <label for="ftxt-NroReciboCaja">Nro.Recibo Caja</label>
                </span>
            </div>
            <div class="col-12 md:col-6">
                <span class="p-float-label">
                    <input pInputText id="ftxt-NombreCliente" type="text" required="true"
                        formControlName="NombreCliente" style="text-transform: uppercase;">
                    <label for="ftxt-NombreCliente">Nombre Cliente</label>
                </span>
            </div>
            <div class="col-12 md:col-6">
                <span class="p-float-label">
                    <input pInputText id="ftxt-Ruc" type="number" required="true" formControlName="Ruc"
                        style="text-transform: uppercase;" (input)="maxiLengthRuc($event)" [maxlength]="13">
                    <label for="ftxt-Ruc">RUC</label>
                </span>
            </div>
            <div class="col-12 md:col-6 ">
                <span class="p-float-label">
                    <input pInputText id="ftxt-Cedula" type="number" required="true" formControlName="Cedula"
                        style="text-transform: uppercase;" (input)="maxLengthCedula($event)" [maxlength]="10">
                    <label for="ftxt-Cedula">Cédula</label>
                </span>
            </div>
            <div class="col-12 md:col-6 text-left">
                <label for="ftxt-fechaDesde" class="block mb-1">Fecha Desde: </label>
                <span class="p-float-label">
                    <p-calendar dateFormat="dd/mm/yy" formControlName="fechaDesde" [showIcon]="true"></p-calendar>
                </span>
            </div>
            <div class="col-12 md:col-6 text-left">
                <label for="ftxt-fechaHasta" class="block mb-1">Fecha Hasta: </label>
                <span class="p-float-label">
                    <p-calendar dateFormat="dd/mm/yy" formControlName="fechaHasta" [showIcon]="true"></p-calendar>
                </span>
            </div>
        </div>

        <div class="central">
            <p-toolbar>
                <div class="p-toolbar-group-center">
                    <button pButton label="Consultar"
                        class="p-button p-button-lg m-1 p-button-outlined p-button-primary" icon="pi pi-search"
                        type="submit" (click)="Buscar()" pTooltip="Consultar" tooltipPosition="right"></button>
                </div>
            </p-toolbar>
        </div>
    </form>

</p-card>
 -->

<p-dialog [(visible)]="display" [modal]="true" [style]="{width: '45vw'}" [draggable]="true" [resizable]="true"
    [contentStyle]="{'overflow': 'visible'}" [closable]="true" [responsive]="true" (onHide)="  cancelar()"
    [dismissableMask]="false">

    <ng-template pTemplate="header">
        <div class="flex justify-content-between align-items-center" style="width: 100%;">
            <div class="text-2xl text-center">Motivo de Anulación</div>
        </div>
    </ng-template>

    <form [formGroup]="formAnulaRecib" class="mt-6">
        <div class="p-grid p-fluid">
            <div class="p-field col-12 md:col-6 px-3">
                <span class="p-float-label">
                    <input pInputText id="ftxt-RecibCajaNo" type="text" required="true" formControlName="RecibCajaNo"
                        style="text-transform: uppercase;" readonly="true" class="outline-none disabled" [disabled]="true">
                    <label for="ftxt-RecibCajaNo">Recibo Caja No:</label>
                </span>
            </div>
            <div class="p-field col-12 md:col-6  px-3">
                <span class="p-float-label">
                    <input pInputText id="ftxt-fecha" type="text" required="true"
                        formControlName="fecha" style="text-transform: uppercase;" readonly="true" [disabled]="true" class="disabled">
                    <label for="ftxt-fecha">Fecha</label>
                </span>
            </div>
            <div class="p-field col-12 md:col-6  px-3">
                <span class="p-float-label">
                    <input pInputText id="ftxt-cliente" type="text" required="true"
                        formControlName="cliente" style="text-transform: uppercase;" readonly="true" [disabled]="true" class="disabled">
                    <label for="ftxt-cliente">Cliente</label>
                </span>
            </div>
            <!-- <div class="p-field p-col-12 p-md-3 px-3">
             <label for="ftxt-estadoCompr">* Estado</label>
             <span class="p-float-label">
                 <p-inputSwitch [disabled]="true" id="ftxt-estadoCompr" formControlName="estadoCompr">
                 </p-inputSwitch>
             </span>
         </div> -->
            <div class="p-field col-12 md:col-6  px-3 flex">
                <span class="p-float-label" [style]="{width: '100%'}">
                    <p-dropdown formControlName="estadoRecib" [options]="estados" placeholder="Selecciona" optionLabel="name" inputId="float-label">
                    </p-dropdown>
                    <label for="float-label">* Estado</label>
                </span>
            </div>
        </div>
        <div class="p-grid p-fluid">
            <div class="p-field p-col-12 px-3">
                <span class="p-float-label">
                    <textarea pInputText id="ftxt-detalleAnulacion" rows="4" required="true"
                        formControlName="detalleAnulacion" style="resize: none;"></textarea>
                    <label for="ftxt-detalleAnulacion">* Escriba el Motivo de Anulación</label>
                </span>
            </div>
        </div>
        <div class="central">
            <p-toolbar>
                <div class="p-toolbar-group-center">
                    <button pButton label="Guardar" class="p-button p-button-lg m-1 p-button-outlined p-button-primary"
                        icon="pi pi-send" type="submit" (click)="guardarMotivoAnulacion()" pTooltip="Guardar"
                        tooltipPosition="right"></button>

                    <button pButton label="Cancelar" class="p-button p-button-lg m-1 p-button-outlined p-button-danger"
                        icon="pi pi-times" (click)="CloseModal()" pTooltip="Cancelar" tooltipPosition="right"></button>
                </div>
            </p-toolbar>
        </div>
    </form>

</p-dialog>
