input[type=number] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.disabled {
    color: #000000;
    font-weight: bold;
    font-size: 1.1rem;
}