<!-- buscar por factura laboratorio -->

<p-card class="mobile-card">
    <p-header class="flex align-items-center bg-blue-900 p-3 pb-1 text-white">
        <h4>Factura Laboratorio</h4>
    </p-header>
    <div class="caja-boton-principal central" style="align-items: center">
        <button pButton label="Proforma Aceptadas" class="p-button p-button-lg m-1 p-button-info bg-blue-900"
            icon="pi pi-eye" pTooltip="Proformas Aceptadas" label="Proformas Aceptadas" tooltipPosition="right"
            (click)="abrirmodal()"></button>
    </div>

    <p-divider></p-divider>
    <header class="text-center">BUSCAR FACTURAS DE LABORATORIOS</header>

    <div class="p-d-flex">
        <form [formGroup]="formFacturaLaboratorio" (ngSubmit)="filtrarFacturas()">
            <div class="">
                <br />

                <div class="p-fluid p-formgrid grid">
                    <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                        <span class="p-float-label">
                            <input pInputText id="ftxt-codFactura" type="text" formControlName="codFactura" />
                            <label for="ftxt-codFactura">* Factura no.</label>
                        </span>
                    </div>
                    <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                        <p-dropdown [options]="listEstado" formControlName="idFactura" [virtualScroll]="true"
                            [(ngModel)]="selectedestado" optionLabel="estadoSri" optionValue="idFactura"
                            id="ftxt-idFactura" [virtualScrollItemSize]="55" placeholder="Escoger el Estado"
                            >

                        </p-dropdown>


                    </div>
                </div>

                <div class="p-fluid p-formgrid grid">
                    <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                        <span class="p-float-label">
                            <input pInputText id="ftxt-nombreConsumidor" type="text"
                                formControlName="nombreConsumidor" />
                            <label for="ftxt-nombreConsumidor">* Nombre Cliente</label>
                        </span>
                    </div>
                </div>

                <div class="p-fluid p-formgrid grid">
                    <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                        <span class="p-float-label">
                            <input pInputText id="ftxt-rucConsumidor" type="text" required="true"
                                (input)="onInput($event)" formControlName="rucConsumidor" maxlength="13"
                                keyfilter="int" />
                            <label for="ftxt-rucConsumidor">* Ruc</label>
                        </span>
                    </div>
                    <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                        <span class="p-float-label">
                            <input pInputText id="ftxt-cedula" type="text" required="true" (input)="onInput($event)"
                                keyfilter="int" maxlength="11" />

                            <label for="ftxt-cedula">* Cédula</label>
                        </span>
                    </div>
                </div>
                <div class="p-fluid p-formgrid grid">


                    <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3" style="width: 450px;">
                        <span class="p-float-label">
                            <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" formControlName="fechaDesde"></p-calendar>
                            <label for="ftxt-fechaDesde">* Fecha Desde </label>
                        </span>
                    </div>
                    <div class="p-field  col-12 md:col-6 md:mb-4 mb-0 px-3" style="width: 450px;">
                        <span class="p-float-label">
                            <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" formControlName="fechaHasta"></p-calendar>
                            <label for="ftxt-fechaHasta">* Fecha Hasta </label>
                        </span>
                    </div>

                </div>

                <div class="central">
                    <p-toolbar>
                        <div class="p-toolbar-group-center">
                            <button pButton label="Buscar" class="p-button p-button-lg m-1 p-button-info guardar-button"
                                icon="pi pi-search" type="submit" (click)="filtrarFacturas()" pTooltip="Buscar"
                                tooltipPosition="right"></button>
                        </div>
                    </p-toolbar>
                </div>
            </div>
        </form>
    </div>


</p-card>

<!-- modal de listado de proformas aceptadas -->

<p-dialog [contentStyle]="{'': 'visible'}" [style]="{ width: '80vw'}" header="" [(visible)]="modal" [modal]="true"
    [draggable]="true" [resizable]="true" (onHide)="cerrar()" xmlns:p="http://www.w3.org/1999/html">
    <p-header>
        <h4 class="">Listado Proformas Aceptadas</h4>
    </p-header>
    <div class="p-d-flex mt-3">
        <p-fieldset legend="Buscar Proformas">


            <form>

                <div class="">



                    <div class="p-fluid p-formgrid grid">
                        <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                            <span class="p-float-label">
                                <input pInputText id="ftxt-nombreFp" type="text" required="true" />
                                <label for="ftxt-nombreFp">* Proforma No.</label>
                            </span>
                        </div>
                        <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                            <span class="p-float-label">
                                <input pInputText id="ftxt-nombreFp" type="text" required="true" />
                                <label for="ftxt-nombreFp">* Nombre Cliente</label>
                            </span>
                        </div>
                    </div>


                    <div class="p-fluid p-formgrid grid">
                        <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                            <span class="p-float-label">
                                <input pInputText id="ftxt-nombreFp" type="text" required="true"
                                    (input)="onInput($event)" maxlength="13" keyfilter="int" />
                                <label for="ftxt-nombreFp">* Ruc</label>
                            </span>
                        </div>
                        <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                            <span class="p-float-label">
                                <input pInputText id="ftxt-cedula" type="text" required="true" (input)="onInput($event)"
                                    keyfilter="int" maxlength="11" />
                                <label for="ftxt-cedula">* Cédula</label>
                            </span>
                        </div>
                    </div>
                    <div class="p-fluid p-formgrid grid">


                        <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3" style="width: 450px;">
                            <span class="p-float-label">
                                <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
                                <label for="ftxt-fechaBancos">* Fecha</label>
                            </span>
                        </div>

                    </div>

                    <div class="central">
                        <p-toolbar>
                            <div class="p-toolbar-group-center">
                                <button pButton label="Buscar"
                                    class="p-button p-button-lg m-1 p-button-info guardar-button" icon="pi pi-search"
                                    type="submit" pTooltip="Buscar" tooltipPosition="right"></button>
                            </div>
                        </p-toolbar>
                    </div>
                </div>
            </form>

        </p-fieldset>
    </div>
    <app-proformas-table></app-proformas-table>
</p-dialog>

<!-- Modal de Facturar -->

<p-dialog [contentStyle]="{'': 'visible'}" header="" [(visible)]="modal2" [modal]="true" [draggable]="true"
    [style]="{ width: '80vw'}" [resizable]="true" (onHide)="cerrarmodal2()" xmlns:p="http://www.w3.org/1999/html">
    <p-header>
        <h4 class="">Ingresar Factura</h4>
    </p-header>
    <div class="header-card p-5">
        <div class="header-img">
            <img alt="Card" src="../../../../../../assets/img/epn.png" />
        </div>
        <div class="header-container">
            <h4>ESCUELA POLITECNICA NACIONAL</h4>
            <p>
                Campus Politecnico "J. Ruben Orellana R."<br />
                Ladron de Guevara E11-253 y Andalucia<br />
                Telf.: 2507-144 / Fax: 2567-848<br />
                P.O. Box: 17-01-2759 / QUITO-ECUADOR<br />
            </p>
        </div>
        <div class="header-proforma">
            <div class="recibo-proforma">
                <h1 class="titulo">FACTURA 001-003</h1>
                <h3>Nro. 132-123-12345</h3>

            </div>
        </div>
    </div>
    <br>
    <div>
        <div class="p-fluid p-formgrid grid col-12" style="border: solid 1px rgb(132, 132, 132); padding: 0px;">
            <div class="col-6" style="border-right: solid 1px rgb(132, 132, 132);">
                <div class="p-field col-12 md:col-6 mb-0  px-3">
                    <label for="ftxt-">Fecha de emision:</label>
                    <b> <i class="text-1xl mr-2 mb-3"></i></b>
                </div>
                <div class="p-field col-12 md:col-6  mb-0 px-3">
                    <label for="ftxt-">Empresa:</label>
                    <b> <i class="text-1xl mr-2 mb-3"></i></b>
                </div>
                <div class="p-field col-12 md:col-6  mb-0 px-3">
                    <label for="ftxt-">Señor(s):</label>
                    <b> <i class="text-1xl mr-2 mb-3"></i></b>
                </div>
                <div class="p-field col-12 md:col-6  mb-0 px-3">
                    <label for="ftxt-">Ruc/CI:</label>
                    <b> <i class="text-1xl mr-2 mb-3"></i></b>
                </div>
                <div class="p-field col-12 md:col-6 mb-0 px-3">
                    <label for="ftxt-">Direccion:</label>
                    <b> <i class="text-1xl mr-2 mb-3"></i></b>
                </div>
                <div class="p-field col-12 md:col-6 mb-0 px-3">
                    <label for="ftxt-">Telefono:</label>
                    <b> <i class="text-1xl mr-2 mb-3"></i></b>
                </div>
                <div class="p-field col-12 md:col-6 mb-0 px-3">
                    <label for="ftxt-">Email:</label>
                    <b> <i class="text-1xl mr-2 mb-3"></i></b>
                </div>
            </div>
            <div class="col-6">
                <div class="p-field col-12 md:col-6 mb-0  px-3">
                    <label for="ftxt-">Facultad/Instituto:</label>
                    <b> <i class="text-1xl mr-2 mb-3"></i></b>
                </div>
                <div class="p-field col-12 md:col-6  mb-0 px-3">
                    <label for="ftxt-">Forma de Pago:</label>
                    <b> <i class="text-1xl mr-2 mb-3"></i></b>
                </div>
                <div class="p-field col-12 md:col-6  mb-0 px-3">
                    <label for="ftxt-">Cheque.No:</label>
                    <b> <i class="text-1xl mr-2 mb-3"></i></b>
                </div>
                <div class="p-field col-12 md:col-6 mb-0 px-3">
                    <label for="ftxt-">Banco:</label>
                    <b> <i class="text-1xl mr-2 mb-3"></i></b>
                </div>
                <div class="p-field col-12 md:col-6 mb-0 px-3">
                    <label for="ftxt-">Valor Total:</label>
                    <b> <i class="text-1xl mr-2 mb-3"></i></b>
                </div>
            </div>
        </div>
    </div>
    <br>
    <p-table styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th
                    style="background-color: rgb(206, 244, 244); font-weight: bold; font-size: 14px; text-align: center;">
                    Codigo LAB</th>
                <th
                    style="background-color: rgb(206, 244, 244); font-weight: bold; font-size: 14px; text-align: center;">
                    Descripcion</th>
                <th
                    style="background-color: rgb(206, 244, 244); font-weight: bold; font-size: 14px; text-align: center;">
                    Cantidad</th>
                <th
                    style="background-color: rgb(206, 244, 244); font-weight: bold; font-size: 14px; text-align: center;">
                    Precio Unit.</th>
                <th
                    style="background-color: rgb(206, 244, 244); font-weight: bold; font-size: 14px; text-align: center;">
                    Valor Total</th>
            </tr>
            <tr>
                <th>3</th>
                <th>servicio:asistencia</th>
                <th>1</th>
                <th>200.0</th>
                <th>200.0</th>
            </tr>
            <tr>
                <th colspan="2">Observaciones</th>
                <th colspan="2">Subtotal a tributar:</th>
                <th>20.0</th>
            </tr>
            <tr>
                <th>____________________</th>
                <th>____________________</th>
                <th colspan="2">
                    I.V.A.
                    <input style="width: 5em" type="number" name="IVA" placeholder="0.0" />
                    %
                </th>
                <th>
                    <input type="number" style="width: 5em" name="IVA" placeholder="0.0" />
                </th>

            </tr>
            <tr>
                <th>Elaborado por</th>
                <th>Recibi Conforme</th>
                <th colspan="2">con tarifa 0%</th>
                <th>0.00</th>
            </tr>
            <tr>
                <th>Nombre:</th>
                <th>Nombre:</th>
                <th colspan="2">Total Factura</th>
                <th>
                    <input type="number" style="width: 5em" name="IVA" placeholder="0.0" />
                </th>
            </tr>
            <tr>
                <th></th>
                <th colspan="2">C.I/RUC</th>
                <th colspan="2"></th>
            </tr>
        </ng-template>
    </p-table>
    <br>
    <div align="center" class="flex justify-content-center">
        <div class="caja-boton-principal">
            <button pButton label="Guardar" class="p-button p-button-lg m-1 p-button-info bg-blue-900"
                pTooltip="Guardar" tooltipPosition="right" icon="pi pi-save"></button>

            <button pButton label="Pagos(s)" class="p-button p-button-lg m-1 p-button-info bg-blue-900"
                pTooltip="Pagos(s)" tooltipPosition="right" icon="pi pi-money-bill" (click)="modalOpen()"></button>

            <button pButton label="Regresar" class="p-button p-button-lg m-1 p-button-info bg-blue-900"
                pTooltip="Regresar" tooltipPosition="right" icon=" pi pi-arrow-left" (click)="cerrarmodal2()"></button>

        </div>
    </div>
</p-dialog>


<app-list-forma-pago [display]="displayModal" (closeModal)="closeModal()"></app-list-forma-pago>
