<section class="content">
    <div class="container-fluid">
        <div class="card">
            <p-table #dt [value]="combinedData"  [rows]="10" [paginator]="true" [loading]="loading"
                [globalFilterFields]="[
                        'idNotaCredito',
                        'codNc'
                     ]" responsiveLayout="scroll" [(selection)]="selectedNotaCreditos" [rowHover]="true"
                dataKey="idNotaCredito"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="text-center">
                        <label class="text-center">NOTAS DE CREDITO</label>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="codNc">
                            <div class="flex justify-content-between align-items-center">Nota C No.
                                <p-sortIcon field="codNc"></p-sortIcon>
                                <p-columnFilter type="text" field="codNc" display="menu"></p-columnFilter>
                            </div>
                        </th>

                        <th pSortableColumn="codFactura">
                            <div class="flex justify-content-between align-items-center">Factura N.
                                <p-sortIcon field="codFactura"></p-sortIcon>
                                <p-columnFilter type="text" field="codFactura" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="nombreConsumidor">
                            <div class="flex justify-content-between align-items-center">Cliente
                                <p-sortIcon field="nombreConsumidor"></p-sortIcon>
                                <p-columnFilter type="text" field="nombreConsumidor" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="rucConsumidor">
                            <div class="flex justify-content-between align-items-center">RUC/CI
                                <p-sortIcon field="rucConsumidor"></p-sortIcon>
                                <p-columnFilter type="text" field="rucConsumidor" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="fechaFact">
                            <div class="flex justify-content-between align-items-center">Fecha
                                <p-sortIcon field="fechaFact"></p-sortIcon>
                                <p-columnFilter type="text" field="fechaFact" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="totalFact">
                            <div class="flex justify-content-between align-items-center">Valor
                                <p-sortIcon field="totalFact"></p-sortIcon>
                                <p-columnFilter type="text" field="totalFact" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="idEstadoNc">
                            <div class="flex justify-content-between align-items-center">Estado
                                <p-sortIcon field="idEstadoNc"></p-sortIcon>
                                <p-columnFilter type="text" field="idEstadoNc" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th>Acciones</th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr>
                        <td>{{item.codNc}}</td>
                        <td>{{item.codFactura}}</td>
                        <td>{{item.nombreConsumidor}}</td>
                        <td>{{item.rucConsumidor}}</td>
                        <td>{{item.fechaFact}}</td>
                        <td>{{item.totalFact}}</td>
                        <td> <mark [ngClass]="item.idEstadoNc == 'ACTIVO'
                          ? 'border-green-500' : 'border-red-500' ">{{item.idEstadoNc}}</mark></td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                class="p-button-rounded p-button-warning p-button-text p-button-sm p-mr-2"
                                (click)="editFormaPago(item);llamarFuncion()" pTooltip="Editar"
                                tooltipPosition="left"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Registros Totales: {{listNotaCreditos ? listNotaCreditos.length : 0 }}.
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
</section>