<section class="content">
    <div class="container-fluid">
        <div class="card">
            <p-table #dt [value]="listNotaCreditos" [rows]="10" [paginator]="true" [loading]="loading"
                [globalFilterFields]="[
                        'idNotaCredito',
                        'codNc'
                     ]" responsiveLayout="scroll" [(selection)]="selectedNotaCreditos" [rowHover]="true"
                 dataKey="idNotaCredito" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="text-center">
                        <label class="text-center">NOTAS DE CREDITO</label>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                              <th pSortableColumn="idNotaCredito">
                            <div class="flex justify-content-between align-items-center"> <bold  style="font-weight: bold;">&#8470;</bold>
                                <p-sortIcon field="idNotaCredito"></p-sortIcon>
                                <p-columnFilter type="text" field="idNotaCredito" display="menu"></p-columnFilter>
                            </div>
                        </th> 
                        <th pSortableColumn="codNc">
                            <div class="flex justify-content-between align-items-center">Nota C No.
                                <p-sortIcon field="codNc"></p-sortIcon>
                                <p-columnFilter type="text" field="codNc" display="menu"></p-columnFilter>
                            </div>
                        </th>

                        <th pSortableColumn="idFactura">
                            <div class="flex justify-content-between align-items-center">Factura N.
                                <p-sortIcon field="idFactura"></p-sortIcon>
                                <p-columnFilter type="text" field="idFactura" display="menu"></p-columnFilter>
                            </div>
                        </th>
                         <th pSortableColumn="descripcionFp">
                            <div class="flex justify-content-between align-items-center">Cliente
                                <p-sortIcon field="descripcionFp"></p-sortIcon>
                                <p-columnFilter type="text" field="descripcionFp" display="menu"></p-columnFilter>
                            </div>
                        </th> 
                        <th pSortableColumn="motivoNc">
                            <div class="flex justify-content-between align-items-center">RUC/CI
                                <p-sortIcon field="motivoNc"></p-sortIcon>
                                <p-columnFilter type="text" field="motivoNc" display="menu"></p-columnFilter>
                            </div>
                        </th>
                         <th pSortableColumn="codigoSae">
                            <div class="flex justify-content-between align-items-center">Fecha
                                <p-sortIcon field="codigoSae"></p-sortIcon>
                                <p-columnFilter type="text" field="codigoSae" display="menu"></p-columnFilter>
                            </div>
                        </th> 
                        <th pSortableColumn="idUsuarioNc">
                            <div class="flex justify-content-between align-items-center">Valor
                                <p-sortIcon field="idUsuarioNc"></p-sortIcon>
                                <p-columnFilter type="text" field="idUsuarioNc" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="idEstadoNc">
                            <div class="flex justify-content-between align-items-center">Estado
                                <p-sortIcon field="idEstadoNc"></p-sortIcon>
                                <p-columnFilter type="text" field="idEstadoNc" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th>ACCIONES</th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="item"></p-tableCheckbox>
                        </td>
                        <td>{{rowIndex+1}}</td>
                        <td>{{item.codNc}}</td>
                        <td>{{item.idFactura}}</td>
                        <td>{{item.motivoNc}}</td>
                        <td>{{item.idUsuarioNc}}</td>
                        <td> <mark [ngClass]="item.idEstadoNc == 'ACTIVO'
                          ? 'border-green-500' : 'border-red-500' ">{{item.idEstadoNc}}</mark></td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                class="p-button-rounded p-button-warning p-button-text p-button-sm p-mr-2"
                                (click)="editFormaPago(item);llamarFuncion()" pTooltip="Editar"
                                tooltipPosition="left"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Registros Totales: {{listNotaCreditos ? listNotaCreditos.length : 0 }}.
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
</section>