<p-card>
    <p-header class="flex align-items-center bg-blue-900 p-3 pb-1 text-white">
        <h4>RECIBO DE CAJA</h4>
    </p-header>


    <div class="caja-boton-principal center-button">
        <button pButton label="Agregar Recibo de Caja" class="p-button p-button-lg m-1 p-button-info bg-blue-900 "
            icon="pi pi-plus" pTooltip="Agregar" 
            tooltipPosition="right"></button>

    </div>


    <p-divider></p-divider>
    <header  class="text-center">BUSCAR RECIBO DE CAJA</header>
    <form class="form">
        <div>
            <br>

            <div class="p-fluid p-formgrid grid input">
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <input pInputText id="ftxt-nombreCentroCosto" required="true" >
                        <label for="ftxt-nombreCentroCosto">* Nº Recibo de Caja</label>
                    </span>
                </div>
                
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <input pInputText id="ftxt-nombreCentroCosto"  required="true">
                        <label for="ftxt-nombreCentroCosto">* Nombre Cliente</label>
                    </span>
                </div>
            </div>

            <div class="p-fluid p-formgrid grid">
                <div class="p-field  col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <input pInputText id="ftxt-nombreCentroCosto"  required="true">
                        <label for="ftxt-nombreCentroCosto">* RUC/CL</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <input pInputText id="ftxt-nombreCentroCosto"  required="true">
                        <label for="ftxt-nombreCentroCosto">* Observaciones</label>
                    </span>
                </div>
            </div>

            <div class="p-fluid p-formgrid grid">

            <div class="calendar">
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <p-calendar  [showIcon]="true" inputId="icon"></p-calendar>
                        <label for="ftxt-fechaBancos">* Fecha Desde </label>
                    </span>
                </div>
                <div class="p-field  col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
                        <label for="ftxt-fechaBancos">* Fecha Hasta </label>
                    </span>
                </div>
            </div>
        </div>
                <p-toolbar class="center-button">
                        <button pButton label="Consultar"class="p-button p-button-lg m-1 p-button-info bg-blue-900 " icon="pi pi-search"
                            type="submit" pTooltip="Guardar"
                            tooltipPosition="right"></button>
                </p-toolbar>
        </div>
    </form>
    <p-divider></p-divider>

    <app-recibo-caja-table>
    </app-recibo-caja-table>

</p-card>
