<p-card>
    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

    <!-- Dialog 0 -->
    <p-dialog header="Agregar Recibo de Caja" [(visible)]="modal" [style]="{ width: '60vw' }">
        <!--ANDRES MONTOYA-->

        <!-- HEADER -->
        <div class="header-card">
            <div class="header-img">
                <img alt="Card" src="../../../../../../assets/img/epn.png" />
            </div>
            <div class="header-container">
                <h4>ESCUELA POLITECNICA NACIONAL</h4>
                <p>
                    Campus Politecnico "J. Ruben Orellana R."<br />
                    Ladron de Guevara E11-253 y Andalucia<br />
                    Telf.: 2507-144 / Fax: 2567-848<br />
                    P.O. Box: 17-01-2759 / QUITO-ECUADOR<br />
                </p>
            </div>
            <div class="header-recibo">
                <div class="recibo-caja">
                    <h1>RECIBO DE CAJA</h1>
                    <h3>Nro. 132-123-12345</h3>
                </div>
            </div>
        </div>

        <br />
        <!-- BUSQUEDA -->

        <div class="fieldset-search">
            <fieldset class="search-border">
                <legend>Buscar Cliente/Empleado EPN</legend>

                <div class="search">
                    <div class=" flex justify-content-center gap-3">

                        <div class="flex align-items-center">
                            <p-radioButton name="Empleado" value="1" [(ngModel)]="tipoCliente" inputId="1">
                            </p-radioButton>
                            <label class="ml-2">Empleado Epn</label>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton name="cliente" value="2" [(ngModel)]="tipoCliente" inputId="2">
                            </p-radioButton>
                            <label class="ml-2">Cliente</label>
                        </div>
                        <div class="caja-boton-principal  py-3">
                            <button pButton label="Buscar" class=" bg-blue-900 " (click)="busquedaCliente()"
                                pTooltip="Buscar" tooltipPosition="right"></button>
                        </div>

                    </div>
                </div>
            </fieldset>
        </div>

        <!-- TABLA DATOS -->
        <div class="fieldset-data">
            <fieldset style="border: 1px solid rgba(128, 128, 128, 0.642)">

                <div class="data" *ngIf="clienteSelect">
                    <div class="ui-fluid formgrid grid">
                        <div class="field col-12 md:col-6">
                            <label>Cédula / RUC: </label>
                            <b> <i class="text-1xl mr-2 mb-3"> {{clienteSelect.cedula}}</i></b>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label>Nombre: </label>
                            <b> <i class="text-1xl mr-2 mb-3"> {{clienteSelect.nombre}}</i></b>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label>Correo: </label>
                            <b> <i class="text-1xl mr-2 mb-3"> {{clienteSelect.correo}}</i></b>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label>Dirección: </label>
                            <b> <i class="text-1xl mr-2 mb-3"> {{clienteSelect.direccion}}</i></b>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label>Telefono: </label>
                            <b> <i class="text-1xl mr-2 mb-3"> {{clienteSelect.telefono}}</i></b>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <p-toolbar class="center-button">
            <button pButton label="Agregar" class="m-1 bg-blue-900" type="submit" pTooltip="Agregar"
                tooltipPosition="right" (click)="abrirmodal1()"></button>
        </p-toolbar>

        <!-- TABLA DIALOG -->

        <p-table styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Concepto</th>
                    <th>Cantidad</th>
                    <th>V/Unitario</th>
                    <th>Inicio</th>
                    <th>Fin</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
                <tr>
                    <th colspan="4"></th>
                    <th>SUBTOTAL:</th>
                    <th>0.0</th>
                    <th></th>
                </tr>

                <tr>
                    <th colspan="4"></th>
                    <th>
                        IVA
                        <input style="width: 5em" type="text" name="IVA" placeholder="0.0" />
                        %
                    </th>
                    <th>
                        <input type="text" style="width: 5em" name="IVA" placeholder="0.0" />
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <th colspan="4"></th>
                    <th>TOTAL:</th>
                    <th>0.0</th>
                    <th></th>
                </tr>
            </ng-template>
        </p-table>

        <div class="fieldset-obser">
            <fieldset class="obser">
                <label> Observaciones: </label>
                <div class="p-formgrid grid">
                    <div class="col-12">
                        <span class="p-float-label">
                            <textarea pInputTextarea rows="1" id="ftxt-descCentroCosto" required="true"></textarea>
                        </span>
                    </div>
                </div>
            </fieldset>
        </div>

        <!-- BOTONES -->
        <div align="center" class="flex justify-content-center">
            <div class="caja-boton-principal">
                <button pButton label="Guardar" class="m-1 bg-blue-900" pTooltip="Guardar" icon="pi pi-save"
                    tooltipPosition="right"></button>

                <button pButton label="Pagos(s)" class="m-1 bg-blue-900" pTooltip="Pagos(s)" icon="pi pi-money-bill"
                    tooltipPosition="right" (click)="modalOpen()"></button>

                <button pButton label="Cancelar" class="m-1 bg-blue-900" pTooltip="Cancelar" tooltipPosition="right"
                    (click)="cerrar()"></button>
            </div>
        </div>
    </p-dialog>
    <app-list-forma-pago [display]="displayModal" (closeModal)="closeModal()"></app-list-forma-pago>

    <!-- Dialog Agregar Destalle Recibo CONCEPTOS-->
    <p-dialog header="Agregar Detalle Recibo caja" [(visible)]="modal1" [style]="{ width: '70vw' }">
        <div class="p-fluid p-formgrid grid input">

            <!-- Conceptos -->
            <div class="md:col-5">
                <span class="p-float-label">
                    <div class="fieldset-conceptos">
                        <fieldset class="search-conceptos">

                            <legend>Conceptos</legend>
                            <p-table #dt [value]="listConceptos " [rows]="3" [paginator]="true" [loading]="loading"
                                [globalFilterFields]="[
                'nombreConcepto',
                'codigoConcepto',
             ]" responsiveLayout="scroll" dataKey="idConcepto"
                                currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros">
                                <ng-template pTemplate="caption">
                                    <div class="flex justify-content-between flex-wrap">
                                        <span class="p-input-icon-left ">
                                            <i class="pi pi-search"></i>
                                            <input pInputText type="text" class="p-inputtext-sm"
                                                (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                placeholder="Buscar Concepto" />
                                        </span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>
                                            <div class="flex justify-content-between align-items-center">ID </div>
                                        </th>
                                        <th>
                                            <div class="flex justify-content-between align-items-center">Nombre
                                            </div>
                                        </th>
                                        <th></th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item>
                                    <tr>
                                        <td>{{item.codigoConcepto}}</td>
                                        <td>{{item.nombreConcepto}}</td>
                                        <td> <a pButton class="bg-blue-900 py-3" icon="pi pi-plus"
                                                (click)="showAttributes(item)"></a></td>

                                    </tr>
                                    <tr></tr>
                                </ng-template>
                            </p-table>
                        </fieldset>
                    </div>
                </span>
            </div>
            <!-- Informacion de Conceptos -->
            <div class="md:col-6">
                <span class="p-float-label">
                    <div class="fielset-infConceptos">
                        <fieldset class="search-infConceptos">
                            <legend>Informacion de Conceptos</legend>
                            <div class="p-field col-12 md:mb-2 mb-0 px-3">
                                <span class="p-float-label">
                                    <input pInputText disabled="true" type="number" />
                                    <label>Nombre: <b> <i class="text-1xl mr-2 mb-3">{{ nombreConcepto }}</i></b>
                                    </label>
                                </span>
                            </div>
                            <div class="p-field col-12 md:mb-2 mb-0 px-3">
                                <span class="p-float-label">
                                    <input pInputText disabled="true" type="number" />
                                    <label>Precio Unitario: <b> <i
                                                class="text-1xl mr-2 mb-3">{{ valorConcepto }}</i></b></label>
                                </span>
                            </div>
                            <div class="p-field col-12 md:mb-2 mb-0 px-3">
                                <span class="p-float-label">
                                    <input pInputText id="ftxt-nombreCentroCosto" required="true" type="number" />
                                    <label>* Cantidad:</label>
                                </span>
                            </div>
                        </fieldset>
                    </div>
                </span>
            </div>
        </div>
        <fieldset class="search-saew">
            <legend>Sanciones Saew</legend>
            <p-table styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Codigo</th>
                        <th>Cedula</th>
                        <th>Gestion</th>
                        <th>Carrera</th>
                    </tr>
                </ng-template>
            </p-table>
        </fieldset>

        <br />
        <div align="center" class="flex justify-content-center">
            <div class="caja-boton-principal">
                <button pButton label="Guardar" class="m-1 bg-blue-900" pTooltip="Guardar" icon="pi pi-save"
                    tooltipPosition="right"></button>
                <button pButton label="Cancelar" class="m-1 bg-blue-900" pTooltip="Cancelar" tooltipPosition="right"
                    (click)="cerrarmodal1()"></button>
            </div>
        </div>
    </p-dialog>

    <!-- Dialog Buscar -->

    <p-dialog [header]=" 'Busqueda' " [(visible)]="modalBuscar" [style]="{ width: '65vw' }">
        <div class="fieldset-search2">
            <fieldset class="search-border2">
                <legend>Buscar</legend>
                <div class="search">
                    <div class="flex flex-wrap gap-3">
                        <div class="flex align-items-center">
                            <label class="ml-2">Apellidos: </label>
                            <input type="text" id="txtnombreB" pInputText [(ngModel)]="nombreBusqueda" />
                        </div>
                        <div class="flex align-items-center">
                            <label class="ml-2">C.l: </label>
                            <input type="text" id="txtCedulaB" pInputText [(ngModel)]="cedulaBusqueda" />
                        </div>
                        <div class="caja-boton-principal">
                            <button pButton label="Buscar" class="p-button p-button-lg m-1 p-button-info bg-blue-900"
                                pTooltip="Buscar" (click)="llenarListCliente()" tooltipPosition="right"></button>
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>
    </p-dialog>

    <!-- Dialog Tabla Buscar -->

    <p-dialog [header]="'Listado'" [(visible)]="modalBusTabl" [style]="{ width: '65vw' }">
        <div>
            <p-table #dt currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros"
                [paginator]="true" [rows]="5" [value]="listCliente" [tableStyle]="{ 'min-width': '50rem' }"
                [globalFilterFields]="[ 
                'cedula',
                'nombre',
                ]">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-center">
                        <span class="p-input-icon-left  ">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" class="p-inputtext-sm uppercase"
                                (input)="dt.filterGlobal($event.target.value ,'contains')"
                                placeholder="Busqueda General" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cliente>
                    <tr>
                        <td>{{ cliente.cedula}}</td>
                        <td>{{ cliente.nombre }}</td>
                        <div class="field col-12 md:col-12" align="center">
                            <button pButton label="Seleccionar" class="bg-blue-900 " (click)="cargarCliente(cliente)"
                                pTooltip="Buscar" tooltipPosition="right"></button>
                        </div>

                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-dialog>

    <!-- TABLA y FORMULARIO-->
    <div>
        <app-buscar-recibos></app-buscar-recibos>

        <p-divider></p-divider>

        <div class="caja-boton-principal center-button">
            <button pButton label="Agregar Recibo de Caja" (click)="registrarNuevo()" class="m-1 bg-blue-900"
                icon="pi pi-plus" pTooltip="Agregar" tooltipPosition="right"></button>
        </div>

        <p-divider></p-divider>

        <app-recibo-caja-table> </app-recibo-caja-table>
    </div>

</p-card>
