<p-card>
    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

    <!-- Dialog 0 -->
    <p-dialog
        header="Agregar Recibo de Caja"
        [(visible)]="modal"
        [style]="{ width: '60vw' }"
    >
        <!--ANDRES MONTOYA-->

        <!-- HEADER -->
        <div class="header-card">
            <div class="header-img">
                <img alt="Card" src="../../../../../../assets/img/epn.png" />
            </div>
            <div class="header-container">
                <h4>ESCUELA POLITECNICA NACIONAL</h4>
                <p>
                    Campus Politecnico "J. Ruben Orellana R."<br />
                    Ladron de Guevara E11-253 y Andalucia<br />
                    Telf.: 2507-144 / Fax: 2567-848<br />
                    P.O. Box: 17-01-2759 / QUITO-ECUADOR<br />
                </p>
            </div>
            <div class="header-recibo">
                <div class="recibo-caja">
                    <h1>RECIBO DE CAJA</h1>
                    <h3>Nro. 132-123-12345</h3>
                </div>
            </div>
        </div>

        <br />
        <!-- BUSQUEDA -->
        <div class="fieldset-search">
            <fieldset class="search-border">
                <legend>Buscar Cliente/Estudiante/Empleado EPN</legend>

        <p-fieldset
            align="center"
            class="flex justify-content-center"
            legend="Buscar Cliente/Estudiante/Empleado EPN"
        >
            <div class="flex flex-wrap gap-3">
                <div class="flex align-items-center">
                    <p-radioButton
                        name="cliente"
                        value="1"
                        inputId="1"
                    ></p-radioButton>
                    <label class="ml-2">Estudiante</label>
                </div>
                <div class="flex align-items-center">
                    <p-radioButton
                        name="cliente"
                        value="2"
                        inputId="2"
                    ></p-radioButton>
                    <label class="ml-2">Cliente</label>
                </div>
                <div class="flex align-items-center">
                    <p-radioButton
                        name="cliente"
                        value="2"
                        inputId="2"
                    ></p-radioButton>
                    <label class="ml-2">Empleado EPN</label>
                </div>
                <div class="caja-boton-principal">
                    <button
                        pButton
                        label="Buscar"
                        class="p-button p-button-lg m-1 p-button-info bg-blue-900"
                        pTooltip="Buscar"
                        (click)="abrirmodal2()"
                        tooltipPosition="right"
                    ></button>
                </div>
            </div>
        </p-fieldset>
        <br />

        <p-fieldset>
            <div class="p-fluid p-formgrid grid input">
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <label for="ftxt-nombreCentroCosto"
                            >* Recibe de:
                        </label>
                    </span>
                </div>

                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <label for="ftxt-nombreCentroCosto"
                            >* Ruc/Cedula:</label
                        >
                    </span>
                </div>
            </div>
            <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <label for="ftxt-nombreCentroCosto">* Direccion:</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <label for="ftxt-nombreCentroCosto"
                            >* Forma Pago:</label
                        >
                    </span>
                </div>
            </div>
            <div class="p-fluid p-formgrid grid">
                <div class="calendar">
                    <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                        <span class="p-float-label">
                            <label for="ftxt-fechaBancos">* F/Emision:</label>
                        </span>
                    </div>
                </div>
            </fieldset>
        </div>

        <p-toolbar class="center-button">
            <button
                pButton
                label="Agregar"
                class="p-button p-button-lg m-1 p-button-info bg-blue-900"
                icon="pi pi-plus"
                type="submit"
                pTooltip="Agregar"
                tooltipPosition="right"
                (click)="abrirmodal1()"
            ></button>
        </p-toolbar>

        <!-- TABLA DIALOG -->

        <p-table
            styleClass="p-datatable-gridlines"
            [tableStyle]="{ 'min-width': '50rem' }"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Concepto</th>
                    <th>Cantidad</th>
                    <th>V/Unitario</th>
                    <th>Inicio</th>
                    <th>Fin</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
                <tr>
                    <th colspan="4"></th>
                    <th>SUBTOTAL:</th>
                    <th>0.0</th>
                    <th></th>
                </tr>

                <tr>
                    <th colspan="4"></th>
                    <th>
                        IVA<input
                            size="20"
                            type="text"
                            name="IVA"
                            placeholder="0.0"
                        />%
                    </th>
                    <th>
                        <input
                            size="20"
                            type="text"
                            name="IVA"
                            placeholder="0.0"
                        />
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <th colspan="4"></th>
                    <th>TOTAL:</th>
                    <th>0.0</th>
                    <th></th>
                </tr>
            </ng-template>
        </p-table>

        <p-fieldset class="flex justify-content-center">
            <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <label
                        style="color: rgba(0, 0, 0, 0.6)"
                        for="ftxt-descCentroCosto"
                        >* Observaciones</label
                    >
                    <span class="p-float-label">
                        <textarea
                            pInputTextarea
                            rows="1"
                            id="ftxt-descCentroCosto"
                            required="true"
                            formControlName="descCentroCosto"
                        ></textarea>
                    </span>
                </div>
            </div>
        </p-fieldset>

        <!-- BOTONES -->
        <div align="center" class="flex justify-content-center">
            <div class="caja-boton-principal">
                <button
                    pButton
                    label="Guardar"
                    class="p-button p-button-lg m-1 p-button-info bg-blue-900"
                    pTooltip="Guardar"
                    tooltipPosition="right"
                ></button>

                <button
                    pButton
                    label="Pagos(s)"
                    class="p-button p-button-lg m-1 p-button-info bg-blue-900"
                    pTooltip="Pagos(s)"
                    tooltipPosition="right"
                ></button>

                <button
                    pButton
                    label="Cancelar"
                    class="p-button p-button-lg m-1 p-button-info bg-blue-900"
                    pTooltip="Cancelar"
                    tooltipPosition="right"
                ></button>
            </div>
        </div>
    </p-dialog>

    <!-- Dialog 1 Agregar -->
    <p-dialog
        header="Agregar Detalle Recibo caja"
        [(visible)]="modal1"
        [style]="{ width: '60vw' }"
    >
        <p-fieldset class="form" legend="Conceptos">
            <p-table
                #dt1
                selectionMode="single"
                dataKey="id"
                [tableStyle]="{ 'min-width': '20rem' }"
                [rows]="4"
                [paginator]="true"
                stateStorage="session"
                stateKey="statedemo-session"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <bold style="font-weight: bold">&#8470;</bold>
                            </div>
                        </th>
                        <th>
                            <input
                                pInputText
                                type="text"
                                (input)="
                                    dt1.filter(
                                        $event.target.value,
                                        'name',
                                        'contains'
                                    )
                                "
                                [value]="dt1.filters['name']?.value"
                                placeholder="Concepto"
                                class="w-full"
                            />
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr [pSelectableRow]="customer">
                        <td>{{ rowIndex + 1 }}</td>
                        <td>
                            <span class="p-column-title">Country</span>
                            <img
                                src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + customer.country.code"
                                style="width: 20px"
                            />
                            <span class="ml-1 vertical-align-middle">{{
                                customer.country.name
                            }}</span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-fieldset>

        <p-fieldset class="form" legend="Informacion  Concepto">
            <div class="p-fluid p-formgrid grid input">
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <input
                            pInputText
                            id="ftxt-nombreCentroCosto"
                            required="true"
                        />
                        <label for="ftxt-nombreCentroCosto">* Nombre: </label>
                    </span>
                </div>

                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <input
                            pInputText
                            id="ftxt-nombreCentroCosto"
                            required="true"
                            type="number"
                        />
                        <label for="ftxt-nombreCentroCosto"
                            >* Precio Unitario:</label
                        >
                    </span>
                </div>
            </div>
            <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <label for="ftxt-nombreCentroCosto">* Stock:</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <input
                            pInputText
                            id="ftxt-nombreCentroCosto"
                            required="true"
                            type="number"
                        />
                        <label for="ftxt-nombreCentroCosto">* Cantidad:</label>
                    </span>
                </div>
            </div>
            <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <label for="ftxt-nombreCentroCosto">* Inicio:</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <input
                            pInputText
                            id="ftxt-nombreCentroCosto"
                            required="true"
                            type="number"
                        />
                        <label for="ftxt-nombreCentroCosto">* Fin:</label>
                    </span>
                </div>
            </div>
        </p-fieldset>

        <p-fieldset class="form" legend="Sanciones Saew">
            <p-table
                styleClass="p-datatable-gridlines"
                [tableStyle]="{ 'min-width': '50rem' }"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Codigo</th>
                        <th>Cedula</th>
                        <th>Gestion</th>
                        <th>Carrera</th>
                    </tr>
                </ng-template>
            </p-table>
        </fieldset>

        <br />
        <div align="center" class="flex justify-content-center">
            <div class="caja-boton-principal">
                <button
                    pButton
                    label="Guardar"
                    class="p-button p-button-lg m-1 p-button-info bg-blue-900"
                    pTooltip="Guardar"
                    tooltipPosition="right"
                ></button>
                <button
                    pButton
                    label="Cancelar"
                    class="p-button p-button-lg m-1 p-button-info bg-blue-900"
                    pTooltip="Cancelar"
                    tooltipPosition="right"
                ></button>
            </div>
        </div>
    </p-dialog>

    <!-- Dialog Buscar -->

    <p-dialog header="Buscar" [(visible)]="modal2" [style]="{ width: '60vw' }">
        <p-fieldset class="form" legend="Buscar">
            <div class="p-fluid p-formgrid grid input button">
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <input
                            pInputText
                            id="ftxt-nombreCentroCosto"
                            required="true"
                        />
                        <label for="ftxt-nombreCentroCosto"
                            >* Apellidos:
                        </label>
                    </span>
                </div>

                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <input
                            pInputText
                            id="ftxt-nombreCentroCosto"
                            required="true"
                            type="number"
                        />
                        <label for="ftxt-nombreCentroCosto">* C.L:</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <button
                        pButton
                        label="Buscar"
                        class="p-button p-button-lg m-1 p-button-info bg-blue-900"
                        pTooltip="Cancelar"
                        tooltipPosition="right"
                    ></button>
                </div>
            </div>
        </p-fieldset>
    </p-dialog>

    <!-- TABLA y FORMULARIO-->
    <div>
        <p-header class="flex align-items-center bg-blue-900 p-3 pb-1 text-white">
            <h4>RECIBO DE CAJA</h4>
        </p-header>

        <div class="caja-boton-principal center-button">
            <button pButton label="Agregar Recibo de Caja" (click)="abrirmodal()"
                class="p-button p-button-lg m-1 p-button-info bg-blue-900" icon="pi pi-plus" pTooltip="Agregar"
                tooltipPosition="right"></button>
        </div>

        <p-divider></p-divider>

        <p-fieldset class="form" legend="BUSCAR RECIBO DE CAJA">
            <form [formGroup]="busquedaForm">
                <div>
                    <br />

                    <div class="p-fluid p-formgrid grid input">
                        <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                            <span class="p-float-label">
                                <input
                                    pInputText
                                    id="ftxt-nombreCentroCosto"
                                    required="true"
                                />
                                <label for="ftxt-nombreCentroCosto"
                                    >* Nº Recibo de Caja</label
                                >
                            </span>
                        </div>

                        <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                            <span class="p-float-label">
                                <input
                                    pInputText
                                    id="ftxt-nombreCentroCosto"
                                    required="true"
                                />
                                <label for="ftxt-nombreCentroCosto"
                                    >* Nombre Cliente</label
                                >
                            </span>
                        </div>
                    </div>

                    <div class="p-fluid p-formgrid grid">
                        <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                            <span class="p-float-label">
                                <input
                                    pInputText
                                    id="ftxt-nombreCentroCosto"
                                    type="number"
                                    maxlength="10"
                                    (input)="onInputR($event)"
                                />
                                <label for="ftxt-nombreCentroCosto"
                                    >* RUC</label
                                >
                            </span>
                        </div>
                        <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                            <span class="p-float-label">
                                <input
                                    pInputText
                                    id="ftxt-nombreCentroCosto"
                                    type="number"
                                    maxlength="13"
                                    (input)="onInputC($event)"
                                    required="true"
                                />
                                <label for="ftxt-nombreCentroCosto"
                                    >* Cedula</label
                                >
                            </span>
                        </div>
                    </div>

                    <div class="p-fluid p-formgrid grid">
                        <div class="calendar">
                            <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                                <span class="p-float-label">
                                    <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
                                    <label for="ftxt-fechaBancos">* Fecha Desde
                                    </label>
                                </span>
                            </div>
                            <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                                <span class="p-float-label">
                                    <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
                                    <label for="ftxt-fechaBancos">* Fecha Hasta
                                    </label>
                                </span>
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid grid">
                            <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                                <label style="color: rgba(0, 0, 0, 0.6)" for="ftxt-descCentroCosto">*
                                    Observaciones</label>
                                <span class="p-float-label">
                                    <textarea
                                        pInputTextarea
                                        rows="1"
                                        id="ftxt-descCentroCosto"
                                        required="true"
                                        formControlName="descCentroCosto"
                                    ></textarea>
                                </span>
                            </div>
                        </div>
                    </div>
                    <p-toolbar class="center-button">
                        <button pButton label="Consultar" class="p-button p-button-lg m-1 p-button-info bg-blue-900"
                            icon="pi pi-search" type="submit" pTooltip="Guardar" tooltipPosition="right"></button>
                    </p-toolbar>
                </div>
            </form>
        </p-fieldset>

        <p-divider></p-divider>
        <app-recibo-caja-table> </app-recibo-caja-table>
    </div>
</p-card>