

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<p-dialog [contentStyle]="{'overflow': 'visible'}" header="" [(visible)]="modal" [modal]="true"
    [style]="{ width: '45vw' }" [draggable]="true" (onHide)="cerrar()" [resizable]="true" xmlns:p="http://www.w3.org/1999/html">
    <p-header>
        <h4 class="">CEMTRO DE COSTOS</h4>
    </p-header>


    <form [formGroup]="formCentroCo">
        <div class="">
            <!-- card no-gutter widget-overview-box widget-overview-box-1 -->
            <br>

            <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <input pInputText id="ftxt-nombreCentroCosto" type="text" required="true" formControlName="nombreCentroCosto">
                        <label for="ftxt-nombreCentroCosto">* Nombre</label>
                    </span>
                </div>
                    <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3">
                        <span class="p-float-label">
                            <input pInputText id="ftxt-codCentroCosto" type="text" required="true" formControlName="codCentroCosto">
                            <label for="ftxt-codCentroCosto">* Codigo</label>
                        </span>
                    </div>
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3">
                    <label for="ftxt-estadoCentroCosto" style="color: rgba(0, 0, 0, 0.6);">* Estado</label>
                    <span class="p-float-label">
                        <p-inputSwitch id="ftxt-estadoCentroCosto" formControlName="estadoCentroCosto"></p-inputSwitch>
                    </span>
                </div>
            </div>

            <div class="p-fluid p-formgrid grid">
    

            </div>
            <div class=" p-formgrid grid">

                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3">
                    <label style="color:  rgba(0, 0, 0, 0.6);" for="ftxt-descCentroCosto">* Detalle</label>
                    <span class="p-float-label">
                        <textarea pInputTextarea rows="4" cols="70" id="ftxt-descCentroCosto" required="true"
                            formControlName="descCentroCosto"></textarea>
                    </span>
                </div>
            </div>

            <div class="central">
                <p-toolbar>
                    <div class="p-toolbar-group-center">
                        <button pButton label="Guardar" class="p-button p-button-lg m-1 p-button-info guardar-button" icon="pi pi-send"
                            type="submit" (click)="guardarCentro()" pTooltip="Guardar"
                            tooltipPosition="right"></button>

                            <button pButton label="Cancelar" class="p-button p-button-lg m-1 p-button-danger cancelar-button"
                            icon="pi pi-times" (click)="cancelar()" pTooltip="Cancelar"
                            tooltipPosition="right"></button>
                    </div>
                </p-toolbar>
            </div>
        </div>
    </form>
</p-dialog>

<p-card>


    <p-header class="flex align-items-center bg-blue-900 p-3 pb-1 text-white">
        <h4>CENTRO DE COSTOS</h4>
    </p-header>


    <div class="caja-boton-principal">
        <button pButton label="Agregar Centro de Costos"class="p-button p-button-lg m-1 p-button-info bg-blue-900 "
            icon="pi pi-plus" pTooltip="Agregar" (click)="abrirmodal()"
            tooltipPosition="right"></button>

    </div>

    <p-divider></p-divider>
        <app-centro-costos-table
            [listCentroC]="listCentrosCo"
            (centroCSelect)="setSeleccionado($event)"
        ></app-centro-costos-table>

</p-card>





