<p-dialog header="Lista de Facturas" [(visible)]="modal" [style]="{ width: '80vw' }">
        <p-card>
            
            <form [formGroup]="buscarFacturas" class="mt-2 px-4" [style]="{width: '100%'}" (ngSubmit)=" filtrarFacturas()">
                <div class="">
                    <header class="text-center">Buscar Facturas (Pagadas y Pendientes)</header>
                    <br />
                    <div class="p-fluid p-formgrid grid">
                        <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                            <span class="p-float-label">
                                <input pInputText id="ftxt-codFactura" type="text" required="true"
                                    formControlName="codFactura" style="text-transform: uppercase;" [maxlength]="13"
                                    pTooltip="Ejm:123-123-12345" tooltipPosition="top" (input)="onInputNroFactura($event)">
                                <label for="ftxt-codFactura">* Factura no.</label>
                            </span>
                        </div>
                    </div>
                    <div class="p-fluid p-formgrid grid">
                        <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                            <span class="p-float-label">
                                <input pInputText id="ftxt-nombreConsumidor" type="text" required="true"
                                    formControlName="nombreConsumidor" style="text-transform: uppercase;"
                                    (input)="maxLengthNombre($event)" (keydown)="preventNumbers($event)" [maxLength]="30">
                                <label for="ftxt-nombreConsumidor">Nombre Cliente</label>
                            </span>
                        </div>
                        <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                            <span class="p-float-label">
                                <input pInputText id="ftxt-rucConsumidor" type="number" required="true" formControlName="rucConsumidor"
                                    style="text-transform: uppercase;" (input)="maxiLengthRuc($event)" [maxlength]="13">
                                <label for="ftxt-rucConsumidor">RUC</label>
                            </span>
                        </div>
                    </div>
                    <div class="central">
                        <p-toolbar>
                            <div class="p-toolbar-group-center">
                                <button pButton label="Buscar"
                                    class="p-button p-button-lg m-1 p-button-info guardar-button" icon="pi pi-search"
                                    type="submit" pTooltip="Buscar" tooltipPosition="right"></button>
                            </div>
                        </p-toolbar>
                    </div>
                </div>
            </form>
        </p-card>
        
    <p-divider></p-divider>
    <app-lista-fact-table  [listFactura]="listFacturas"  ></app-lista-fact-table>
</p-dialog>


<p-card>
    <p-header class="flex align-items-center bg-blue-900 p-3 pb-1 text-white">
        <h4>Nota Credito</h4>
    </p-header>
    <div class="caja-boton-principal central" style="align-items: center">
        <button pButton label="Agregar" class="p-button p-button-lg m-1 p-button-info bg-blue-900 " icon="pi pi-plus"
            pTooltip="Agregar Nota de Credito" tooltipPosition="right" (click)="abrirmodal()"></button>
    </div>
    <p-divider></p-divider>
    <header class="text-center">BUSCAR NOTAS DE CREDITO</header>
    <div class="p-d-flex">
        <form>
            <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                    <span class="p-float-label">
                        <input pInputText id="ftxt-nombreFp" type="text" required="true" />
                        <label for="ftxt-nombreFp">* Nota de Crédito no.</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                    <span class="p-float-label">
                        <input pInputText id="ftxt-facturaNo" type="text" required="true" />
                        <label for="ftxt-facturaNo">* Factura no.</label>
                    </span>
                </div>
            </div>
            <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                    <span class="p-float-label">
                        <input pInputText id="ftxt-nombreCliente" type="text" required="true" />
                        <label for="ftxt-nombreCliente">* Nombre Cliente</label>
                    </span>
                </div>
            </div>
            <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                    <span class="p-float-label">
                        <input pInputText id="ftxt-ruc" type="text" required="true" (input)="onInput($event)"
                            keyfilter="int" maxlength="13" />
                        <label for="ftxt-ruc">* Ruc</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                    <span class="p-float-label">
                        <input pInputText id="ftxt-cedula" type="text" required="true" (input)="onInput($event)"
                            keyfilter="int" maxlength="11" />
                        <label for="ftxt-cedula">* Cédula</label>
                    </span>
                </div>
            </div>
            <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                    <label for="ftxt-fechaDesde">* Fecha Desde</label>
                    <span class="p-float-label">
                        <input pInputText id="ftxt-fechaDesde" type="date" required="true" />
                    </span>
                </div>
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                    <label for="ftxt-fechaHasta">* Fecha Hasta</label>
                    <span class="p-float-label">
                        <input pInputText id="ftxt-fechaHasta" type="date" required="true" />
                    </span>
                </div>
            </div>
            <div class="central">
                <p-toolbar>
                    <div class="p-toolbar-group-center">
                        <button pButton label="Consultar" class="p-button p-button-lg m-1 bg-blue-900 " icon="pi pi-search"
                            type="submit" pTooltip="Consultar" tooltipPosition="right"></button>
                    </div>
                </p-toolbar>
            </div>
        </form>
    </div>
    <app-nota-credito-table [listNotaCreditos]="listNotas" [listFactura]="listFacturas" ></app-nota-credito-table>
</p-card>