<p-dialog [(visible)]="modal" [style]="{ width: '90vw' }">

    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

    <!-- Dialog 0 -->
    <p-dialog header="Agregar Recibo de Caja" [(visible)]="modal1" [style]="{ width: '60vw' }">
        <div class="header-card">
            <div class="header-img">
                <img alt="Card" src="../../../../../../assets/img/epn.png" />
            </div>
            <div class="header-container">
                <h4>ESCUELA POLITECNICA NACIONAL</h4>
                <p>
                    Campus Politecnico "J. Ruben Orellana R."<br />
                    Ladron de Guevara E11-253 y Andalucia<br />
                    Telf.: 2507-144 / Fax: 2567-848<br />
                    P.O. Box: 17-01-2759 / QUITO-ECUADOR<br />
                </p>
            </div>
            <div class="header-nota">
                <div class="nota-credito">
                    <h1>NOTA DE CREDITO</h1>
                    <h3>Nro. 001-001-0000004190</h3>
                </div>
            </div>
        </div>
        <p-divider></p-divider>

        <p-fieldset>
            <div class="p-fluid p-formgrid grid input">
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <label for="ftxt-nombreCentroCosto">F./ Emision:
                        </label>
                    </span>
                </div>

                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <label for="ftxt-nombreCentroCosto">Facultad/Instituto:</label>
                    </span>
                </div>
            </div>
            <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <label for="ftxt-nombreCentroCosto">Empresa:</label>
                    </span>
                </div>
            </div>
            <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <label for="ftxt-nombreCentroCosto">Señor(s):</label>
                    </span>
                </div>
            </div>
            <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <label for="ftxt-nombreCentroCosto">RUC/CI:</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <label for="ftxt-nombreCentroCosto">Forma Pago:</label>
                    </span>
                </div>
            </div>
            <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <label for="ftxt-nombreCentroCosto">Direccion:</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <label for="ftxt-nombreCentroCosto">Cheque No.:</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <label for="ftxt-nombreCentroCosto">Valor Total:</label>
                    </span>
                </div>
            </div>
            <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <label for="ftxt-nombreCentroCosto">Telf:</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <label for="ftxt-nombreCentroCosto">Factura No.:</label>
                    </span>
                </div>
            </div>
            <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <label for="ftxt-fechaBancos">Email:</label>
                    </span>
                </div>

            </div>

            <div class="p-fluid p-formgrid grid" style="margin-left: 5px;">
                <div class="p-field col-12 md:col-6 md:mb-4 mb-0 px-3">
                    <span class="p-float-label">
                        <textarea pInputText rows="1" id="ftxt-descCentroCosto" required="true"
                            formControlName="descCentroCosto"></textarea>
                        <label style="color: rgba(0, 0, 0, 0.6)" for="ftxt-descCentroCosto">Motivo:</label>
                    </span>
                </div>
            </div>
        </p-fieldset>

        <p-table styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Cantidad</th>
                    <th>Precio Unit.</th>
                    <th>Valor Total</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th colspan="3"></th>
                    <th>SUBTOTAL:</th>
                    <th></th>
                </tr>
                <tr>
                    <th colspan="3"></th>
                    <th>IVA 0%</th>
                    <th></th>
                </tr>
                <tr>
                    <th colspan="3"></th>
                    <th>DESCUENTO:</th>
                    <th></th>
                </tr>
                <tr>
                    <th colspan="3"></th>
                    <th>TOTAL:</th>
                    <th></th>
                </tr>
            </ng-template>
        </p-table>
        <br>
        <div align="center" class="flex justify-content-center">
            <div class="caja-boton-principal">
                <button pButton label="Guardar" class="p-button p-button-lg m-1 p-button-info bg-blue-900"
                    pTooltip="Guardar" tooltipPosition="right"></button>

                <button pButton label="Cancelar" class="p-button p-button-lg m-1 p-button-info bg-blue-900"
                    pTooltip="Cancelar" tooltipPosition="right"></button>
            </div>
        </div>
    </p-dialog>


    <p-header>
        <h4 class="">Lista de Facturas</h4>
    </p-header>
    <div class="p-d-flex">
        <p-card>

            <form>
                <div class="">

                    <header class="text-center">Buscar Facturas (Pagadas y Pendientes)</header>
                    <br />

                    <div class="p-fluid p-formgrid grid">
                        <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                            <span class="p-float-label">
                                <input pInputText id="ftxt-nombreFp" type="text" required="true" />
                                <label for="ftxt-nombreFp">* Factura no.</label>
                            </span>
                        </div>
                    </div>
                    <div class="p-fluid p-formgrid grid">
                        <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                            <span class="p-float-label">
                                <input pInputText id="ftxt-nombreFp" type="text" required="true" />
                                <label for="ftxt-nombreFp">* Nombre Cliente</label>
                            </span>
                        </div>
                        <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                            <span class="p-float-label">
                                <input pInputText id="ftxt-cedula" type="text" required="true" (input)="onInput($event)"
                                    keyfilter="int" maxlength="13" />
                                <label for="ftxt-nombreFp">* RUC/CI </label>
                            </span>
                        </div>
                    </div>
                    <div class="central">
                        <p-toolbar>
                            <div class="p-toolbar-group-center">
                                <button pButton label="Buscar"
                                    class="p-button p-button-lg m-1 p-button-info guardar-button" icon="pi pi-search"
                                    type="submit" pTooltip="Buscar" tooltipPosition="right"></button>
                            </div>
                            <p-toolbar class="center-button">
                                <button pButton label="Agregar"
                                    class="p-button p-button-lg m-1 p-button-info bg-blue-900" icon="pi pi-plus"
                                    type="submit" pTooltip="Agregar" tooltipPosition="right"
                                    (click)="abrirmodal1()"></button>
                            </p-toolbar>
                        </p-toolbar>
                    </div>
                </div>
            </form>

        </p-card>
    </div>
    <p-divider></p-divider>
    <app-lista-fact-table>
    </app-lista-fact-table>
</p-dialog>





<p-card>

    <p-header class="flex align-items-center bg-blue-900 p-3 pb-1 text-white">
        <h4>Nota Credito</h4>
    </p-header>
    <div class="caja-boton-principal central" style="align-items: center">
        <button pButton label="Agregar" class="p-button p-button-lg m-1 p-button-info bg-blue-900 " icon="pi pi-plus"
            pTooltip="Agregar Nota de Credito" tooltipPosition="right" (click)="abrirmodal()"></button>
    </div>

    <p-divider></p-divider>
    <header class="text-center">BUSCAR NOTAS DE CREDITO</header>
    <div class="p-d-flex">
        <form>
            <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                    <span class="p-float-label">
                        <input pInputText id="ftxt-nombreFp" type="text" required="true" />
                        <label for="ftxt-nombreFp">* Nota de Crédito no.</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                    <span class="p-float-label">
                        <input pInputText id="ftxt-facturaNo" type="text" required="true" />
                        <label for="ftxt-facturaNo">* Factura no.</label>
                    </span>
                </div>
            </div>

            <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                    <span class="p-float-label">
                        <input pInputText id="ftxt-nombreCliente" type="text" required="true" />
                        <label for="ftxt-nombreCliente">* Nombre Cliente</label>
                    </span>
                </div>
            </div>

            <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                    <span class="p-float-label">
                        <input pInputText id="ftxt-ruc" type="text" required="true" (input)="onInput($event)"
                            keyfilter="int" maxlength="13" />
                        <label for="ftxt-ruc">* Ruc</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                    <span class="p-float-label">
                        <input pInputText id="ftxt-cedula" type="text" required="true" (input)="onInput($event)"
                            keyfilter="int" maxlength="11" />
                        <label for="ftxt-cedula">* Cédula</label>
                    </span>
                </div>
            </div>
            <div class="p-fluid p-formgrid grid">
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                    <label for="ftxt-fechaDesde">* Fecha Desde</label>
                    <span class="p-float-label">
                        <input pInputText id="ftxt-fechaDesde" type="date" required="true" />
                    </span>
                </div>
                <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3" style="width: 450px;">
                    <label for="ftxt-fechaHasta">* Fecha Hasta</label>
                    <span class="p-float-label">
                        <input pInputText id="ftxt-fechaHasta" type="date" required="true" />
                    </span>
                </div>
            </div>

            <div class="central">
                <button pButton label="Buscar" class="p-button p-button-lg m-1 p-button-info guardar-button"
                    icon="pi pi-search" type="submit" pTooltip="Buscar" tooltipPosition="right"></button>
            </div>
        </form>
    </div>

    <app-nota-credito-table>
    </app-nota-credito-table>

</p-card>